doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title= title || 'Page name'

        // Styles::Start
        include _loadCss
        // Styles::End

        // Yandex Map
        if yandexMap == true
            script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

    body(class= bodyClass ? bodyClass : '')

        #page

            // Header::Start
            block header
                include _header
            // Header::End

            // Main::Start
            main#main
                block main
            // Main::End

            // Footer::Start
            block footer
                include _footer
            // Footer::End

            // Popup::Start
            #popup-cart-added.popup.popup-cart-added.animate__animated.animate__fadeIn
                .popup-inner
                    .popup-close.popup-close-icon
                    .popup-wrap
                        .popup-icon
                            img(src="assets/images/heart.svg", alt="icon")
                        .popup-title Анализ добавлен в корзину
                        .popup-btn-cart.button-style.button-style--fill-green
                            a(href="#") В корзину
                        .popup-btn-back.popup-close.button-style.button-style--gray Продолжить покупки
            // Popup::End

        // Scripts::Start
        include _loadScripts
        // Scripts::End