html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .4s;
}

body.overflow-hidden {
  overflow: hidden;
}

body b {
  font-weight: 700;
  color: #000;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;

  @include breakpoint(lg) {
    width: 8px;
    height: 10px;
  }
}

::-webkit-scrollbar-thumb {
  background: #0CAA70;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0CAA70 #f7f7f7;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

main {
  min-height: calc(max(calc(100vh - 614px), 650px));

  @include breakpoint(md) {
    min-height: calc(max(calc(100vh - 614px), 570px));
  }
}

.hide {
  display: none !important;
}

#page {
  position: relative;
  min-width: 360px;
  min-height: 100%;
  max-width: 100%;
}

#page::before {
  content: '';
  background: rgba(0, 0, 0, 0);
  display: block;
  transition: all 0.5s ease;
}

#page.bg-overlay::before {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

section {
  padding: 30px 0;
  
  @include breakpoint(md) {
    padding: 40px 0;
  }

  @include breakpoint(lg) {
      padding: 60px 0;
  }

  @include breakpoint(xl) {
      padding: 72px 0;
  }
}

.section-gray {
  background: #F8F8F8;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
  width: 100%;
  max-width: 1264px;
  box-sizing: border-box;

  @include breakpoint(md) {
    padding: 0 20px;
  }

  @include breakpoint(lg) {
    padding: 0 32px;
  }
}

.button-style {
  padding: 14px;
  font-weight: 600;
  text-align: center;
  border: 1px solid;
  border-radius: 33px;
  cursor: pointer;
  transition: all .3s ease;

  @include breakpoint(md) {
    padding: 16px;
  }
}

.button-style--green {
  border-color: $green;
  color: $green;
}

.button-style--green:hover {
  border-color: $dgreen;
  color: $dgreen;
}

.button-style--fill-green {
  background: $green;
  border: none;
  color: #fff;
}

.button-style--fill-green:hover {
  background: $dgreen;
}

.button-style--gray {
  border-color: $gray;
}

.button-style--gray:hover {
  border-color: $ltgray;
  color: $ltgray;
}

.button-style--fill-white {
  background: #fff;
  border: none;
}

.button-style--fill-orange {
  background: $orange;
  color: #fff;
  border: none;
}

.button-style--fill-orange:hover {
  background: $ltorange;
}

.bg-violet {
  background: $bgviolet;
}

.bg-yellow {
  background: $bgyellow;
}

.bg-orange {
  background: $bgorange;
}

.bg-green {
  background: $bggreen;
}

.bg-pink {
  background: $bgpink;
}

.title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    @include breakpoint(md) {
      margin-bottom: 24px;
    }

    @include breakpoint(lg) {
        margin-bottom: 28px;
        font-size: 28px;
    }

    @include breakpoint(xl) {
        margin-bottom: 40px;
        font-size: 32px;
    }
}

.slider-navigation {
  display: none;

  @include breakpoint(md) {
      position: absolute;
      top: calc(50% - 16px);
      left: -16px;
      display: flex;
      justify-content: space-between;
      width: calc(100% + 32px);
  }

  @include breakpoint(xl) {
      left: -52px;
      width: calc(100% + 104px);
  }
}

.slider-nav {
  background: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background .3s ease;
  cursor: pointer;
  z-index: 1;
}

.slider-nav:hover {
  background: $dgreen;
}

.slider-nav.swiper-button-disabled {
  background: #fff;
}

.slider-nav img.disabled {
  display: none;
}

.slider-nav.swiper-button-disabled img {
  display: none;
}

.slider-nav.swiper-button-disabled img.disabled {
  display: block;
}

.slider-nav-prev:not(.swiper-button-disabled ) {
  transform: rotate(180deg);
}

.slider-nav-next.swiper-button-disabled {
  transform: rotate(180deg);
}

.add_basket.active {
  background: $green;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__arrow {
  background: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &.left {
    transform: rotate(180deg);
  }
}

.pagination__arrow.disabled {
  background: #F8F8F8;

  &.left {
    transform: unset;
  }

  &.right {
    transform: rotate(180deg);
  }
}

.pagination__arrow img {
  height: 12px;
}

.pagination__arrow img.disabled-icon {
  display: none;
}

.pagination__arrow.disabled img.disabled-icon {
  display: block;
}

.pagination__arrow.disabled img:not(.disabled-icon) {
  display: none;
}

.pagination__items {
  margin: 0 20px;
  padding: 6px;
  background: #F8F8F8;
  display: flex;
  align-items: center;
  border-radius: 42px;
}

.pagination__item {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.pagination__item:first-child {
  margin-left: 0;
}

.pagination__item.active {
  background: $green;
  color: #fff;
  border-radius: 50%;
}

.cluster {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #fff;

  @include breakpoint(md) {
      font-size: 18px;
  }
}

.select-custom {
  margin-top: 16px;
  background: #FFFFFF;
  position: relative;
  border: 1px solid #E1E1E1;
  border-radius: 52px;
  user-select: none;
  z-index: 1;

  @include breakpoint(xl) {
      margin-top: 20px;
  }
}

.select-custom.active {
  border-color: transparent;
}

.select-value {
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 150%;
  color: $gray;
  cursor: pointer;

  @include breakpoint(md) {
      padding: 18px 32px;
  }
}

.select-custom:has(.active) .select-value {
  color: $black;
}

.select-value::after {
  content: '';
  background: url('../images/chevron-down.svg') no-repeat;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  z-index: 2;
  transition: all .3s ease;

  .select-value.active & {
      transform: rotate(180deg);
  }
}

.select-variants {
  padding: 18px 32px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  .select-custom.active & {
      position: absolute;
      top: 0;
      display: flex;
      border: 1px solid #e1e1e1;
      border-radius: 24px;
      z-index: 1;
  }
}

.select-option {
  cursor: pointer;
}

.select-option ~ .select-option {
  margin-top: 12px;
}

.select-option.active {
  color: $green;
}

ul.list-style li {
  display: flex;
}

ul.list-style li::before {
  content: '';
  margin-right: 8px;
  background: $green;
  flex-shrink: 0;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translateY(6px);
}