.catalog-inner-page .popular__slider {
    display: block;
}

.catalog-inner-page .section-advantages {
    padding: 0;
}

.section-catalog-inner {
    padding-top: 0;
}

.back-to-desc {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: $green;

    @include breakpoint(md) {
        position: absolute;
        top: 4px;
        right: 20px;
    }

    @include breakpoint(lg) {
        right: 32px;
    }
}

.back-to-desc::before {
    content: '';
    margin-right: 8px;
    background: url('../images/arrow-down.svg') no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
}

.cat-inner {
    
    @include breakpoint(md) {
        width: calc(100% / 6 * 5);
    }

    @include breakpoint(lg) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: auto;
    }
}

.cat__aside {
    max-width: 584px;
    font-size: 14px;
    line-height: 150%;

    @include breakpoint(md) {
        max-width: unset;
    }

    @include breakpoint(lg) {
        width: calc(100% / 12 * 4 - 10px);
    }

    @include breakpoint(xl) {
        width: 380px;
    }
}

.cat__aside > div {

    @include breakpoint(lg) {
        position: sticky;
        top: 20px;
    }
}

.cat__aside span {
    font-weight: 700;
    color: $green;
}

.cat__aside-inner {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 12px;

    @include breakpoint(xl) {
        padding: 20px 32px;
    }
}

.cat__aside-wrap:not(:first-child) {
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid #E1E1E1;
}

.cat__aside-code {
    margin-bottom: 14px;
    color: $dgray;
}

.cat__aside-time {
    display: flex;
    align-items: center;
}

.cat__aside-time::before {
    content: '';
    margin-right: 8px;
    background: url('../images/clock.svg') no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.cat__aside-time-info {
    margin-left: 12px;
    background: url('../images/info.svg') no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.cat__aside-price {
    display: flex;
}

.cat__aside-price-main {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.cat__aside-price-small {
    margin-left: 16px;
    font-size: 14px;
    line-height: 150%;
    color: $green;
}

.cat__aside-text {
    margin-top: 8px;
}

.cat__aside-btn {
    margin-top: 20px;
    padding: 16px 50px;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
}

.cat__aside-sale {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.cat__aside-sale p {
    font-weight: 700;
}

.cat__aside-homevisit {
    display: flex;
    align-items: center;
}

.cat__aside-homevisit::before {
    margin-right: 8px;
    content: '';
    background: url('../images/home.svg') no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.cat__aside-homevisit span {
    margin-left: 8px;
}

.cat__aside-discount {
    margin-top: 8px;
}

.cat__aside-discount::before {
    content: '';
    margin-right: 8px;
    background: url('../images/percent.svg') no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.cat__aside-features {
    display: flex;
    align-items: center;
}

.cat__aside-features::before {
    content: '';
    margin-right: 8px;
    background: url('../images/check.svg') no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.cat__aside-features:not(:last-child) {
    margin-bottom: 8px;
}

.cat__aside-features:not(:last-child) span {
    margin-left: 5px;
}

.cat__aside-download {
    display: flex;
    align-items: center;
}

.cat__aside-download::before {
    content: '';
    margin-right: 8px;
    background: url('../images/download.svg') no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.cat__aside-find-office {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $green;
    cursor: pointer;
}

.cat__aside-find-office::before {
    content: '';
    margin-right: 8px;
    background: url('../images/arrow-down.svg') no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.cat__main {
    margin-top: 40px;

    @include breakpoint(md) {
        margin-top: 20px;
    }

    @include breakpoint(lg) {
        margin-top: 0;
        width: calc(100% / 12 * 8 - 10px);
    }

    @include breakpoint(xl) {
        width: 790px;
    }
}

.cat__tabs {
    position: relative;
    user-select: none;
    z-index: 1;

    @include breakpoint(lg) {
        background: #F8F8F8;
        max-width: 568px;
        border-radius: 51px;
    }
}

.cat__tabs-select {
    padding: 18px 32px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    line-height: 150%;
    color: $green;
    border: 1px solid #0A9260;
    border-radius: 52px;
    cursor: pointer;

    @include breakpoint(lg) {
        display: none;
    }
}

.cat__tabs-select::after {
    content: '';
    background: url('../images/chevron-down-green.svg') no-repeat;
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    z-index: 1;
    transition: all .3s ease;

    .cat__tabs.active & {
        transform: rotate(180deg);
    }
}

.cat__tabs-variants {
    padding: 18px 32px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    @include breakpoint(lg) {
        padding: 6px;
        background: unset;
        position: static;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .cat__tabs.active & {
        
        @include breakpointMax(lg) {
            display: flex;
            border: 1px solid #0A9260;
            border-radius: 24px;
        }
    }
}

.cat__tabs-btn {
    margin-top: 12px;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;

    @include breakpoint(lg) {
        margin-top: 0;
        padding: 12px 27px;
        width: calc(100% / 3);
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        border-radius: 33px;
        transition: all .3s ease;
    }
}

.cat__tabs-btn:first-child {
    margin-top: 0;
}

.cat__tabs-btn.active {
    color: $green;

    @include breakpoint(md) {
        background: $green;
        color: #fff;
    }
}

.cat__content {
    margin-top: 30px;
    display: none;

    @include breakpoint(md) {
        margin-top: 40px;
    }
}

.cat__content.active {
    display: block;
}

.cat__content h4 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;

    @include breakpoint(xl) {
        font-size: 20px;
    }
}

.cat__content h3 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;

    @include breakpoint(xl) {
        font-size: 24px;
    }
}

.cat__content p {
    font-size: 16px;
    line-height: 150%;
}

.cat__content img {
    display: block;
}

.cat__content small {
    margin: 12px 0 30px;
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    color: $dgray;

    @include breakpoint(md) {
        margin: 12px 0 40px;
    }
}

.cat__content span {
    font-weight: 700;
    color: $green;
}

.cat__content ul li ~ li {
    margin-top: 12px;
}

.cat__content ul li::before {
    content: '';
    margin-right: 12px;
    background: $green;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translateY(-3px);
}

.cat__content ol {
    counter-reset: number;
}

.cat__content ol li {
    display: flex;
    font-size: 16px;
    line-height: 150%;
}

.cat__content ol li ~ li {
    margin-top: 12px;
}

.cat__content ol li::before {
    content: counter(number) '.';
    counter-increment: number;
    margin-right: 13px;
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $green;
}

.table-container {
    overflow-x: scroll;
}

.table {
    width: 584px;
    border: 1px solid #E1E1E1;
    border-radius: 12px;
    overflow: hidden;

    @include breakpoint(md) {
        width: auto;
    }
}

.table p {
    padding: 14px 12px;
}

.table-head {
    background: #F8F8F8;
    display: flex;
    border-bottom: 1px solid #E1E1E1;
}

.table-head p {
    width: calc(100% / 3);
    font-weight: 700;
}

.table-head p ~ p {
    border-left: 1px solid #E1E1E1;
}

.table-row {
    display: flex;
    border-bottom: 1px solid #E1E1E1;
}

.table-row:last-child {
    border-bottom: 0;
}

.table-row p {
    width: calc(100% / 3);
}

.table-row p ~ p {
    border-left: 1px solid #E1E1E1;
}