.certificates {
    &__content {
        margin-top: 30px;
        @include breakpoint(lg) {
            margin-top: 0;
        }
    }
    &-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8px;
        row-gap: 30px;
        @include breakpoint(md) {
            column-gap: 16px;
        }
        @include breakpoint(lg) {
            column-gap: 20px;
            row-gap: 40px;
        }
        @include breakpoint(xl) {
            column-gap: 30px;
            row-gap: 20px;
        }
        &__img {
            display: flex;
            img {
                object-fit: cover;
            }
        }
    }
}