.contacts-inner-page .section-proposal {
    padding: 0;
}

.section-contacts-map {
    padding-top: 0;
}

.c-map__title span {
    color: $green;
}

.c-map__contacts-title {
    margin-bottom: 16px;
}

.c-map .contacts__block {
    margin: 0;
    padding: 0;
    background: unset;
}

.c-map .contacts__block-mail {
    margin: 0;
}

.c-map__contacts-worktime {
    margin-top: 24px;
    display: inline-block;
    border: 1px solid $green;
    border-radius: 33px;
    cursor: pointer;
}

.c-map__contacts-worktime a {
    padding: 13px 18px;;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: $green;
}

.c-map__contacts-worktime a::after {
    content: '';
    background: url('../images/arrow-down.svg') no-repeat;
    background-position: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.contacts-map__office-map {
    margin-top: 16px;
    height: 380px;
}












.gallery {
    position: relative;
}

.gallery__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
}

.info p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 150%;

    @include breakpoint(lg) {
        margin-top: 12px;
    }

    @include breakpoint(xl) {
        margin-top: 21px;
    }
}

.info p:has(b) {
    margin-top: 0;
}

.s-info__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;

    @include breakpoint(lg) {
        font-size: 22px;
    }

    @include breakpoint(xl) {
        margin-bottom: 30px;
        font-size: 24px;
    }
}

.info__wrap {

    @include breakpoint(md) {
        margin-top: -12px;
        margin-left: -16px;
        display: flex;
        flex-wrap: wrap;
    }

    @include breakpoint(lg) {
        margin-top: -16px;
        margin-left: -20px;
    }

    @include breakpoint(xl) {
        margin-top: -21px;
        margin-left: -30px;
    }
}

.info__item {
    margin-top: 12px;

    @include breakpoint(md) {
        margin-left: 16px;
        width: calc(50% - 16px);
    }

    @include breakpoint(lg) {
        margin-top: 16px;
        margin-left: 20px;
        width: calc(100% / 12 * 5 - 20px);
    }

    @include breakpoint(xl) {
        margin-top: 21px;
        margin-left: 30px;
        width: 385px;
    }
}

.info__text {
    margin-top: 20px;

    @include breakpoint(xl) {
        margin-top: 40px;
    }
}