.text-page {

}

.text-page-wrapper {
    padding-top: 0;
}

.text-page-inner {

    @include breakpoint(md) {
        max-width: 604px;
    }

    @include breakpoint(lg) {
        max-width: 747px;
    }

    @include breakpoint(xl) {
        max-width: 790px;
    }
    
    * {
        width: 100%;

    }

    p, ul, ol {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 15px;
    }

    h2 {
        margin-bottom: 30px;
    }

    a {
        width: fit-content;
    }

    p a {
        color: #0CAA70;
        font-weight: 600;
    }

    ul li ~ li {
        margin-top: 12px;
    }
    
    ul li::before {
        content: '';
        margin-right: 12px;
        background: $green;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transform: translateY(-3px);
    }
    
    ol {
        counter-reset: number;
    }
    
    ol li {
        display: flex;
        font-size: 16px;
        line-height: 150%;
    }
    
    ol li ~ li {
        margin-top: 12px;
    }
    
    ol li::before {
        content: counter(number) '.';
        counter-increment: number;
        margin-right: 13px;
        position: relative;
        display: inline-block;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: $green;
    }

    h3 {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 120%;
    }

    .table-container {
        margin-bottom: 20px;

       
    }

    h4 {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 120%;
    }

    p {
        font-size: 16px;
        line-height: 150%;
    }
}