.footer {
    
    @include breakpoint(md) {
        background: #F8F8F8;
    }
}

.footer .container {

    @include breakpointMax(md) {
        padding: 0;
    }
}

.footer__menu {

    @include breakpoint(md) {
        margin-left: -5px;
        padding: 44px 0 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 468px;
        overflow: hidden;
    }

    @include breakpoint(lg) {
        margin-left: -20px;
        padding: 52px 0 30px;
        max-height: 500px;
    }

    @include breakpoint(xl) {
        margin-left: -30px;
        padding: 60px 0 50px;
    }
}

.footer__tabs {
    margin-bottom: 12px;
    padding: 7px;

    @include breakpoint(md) {
        display: none;
    }
}

.footer__tabs .swiper-slide {

    @include breakpointMax(md) {
        padding: 7px;
        background: #F8F8F8;
        width: auto;
    }
}

.footer__tabs .swiper-slide:first-child {

    @include breakpointMax(md) {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.footer__tabs .swiper-slide:last-child {

    @include breakpointMax(md) {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

.footer__tab-item {
    padding: 12px 20px;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: $gray;
    border-radius: 33px;
    cursor: pointer;
    transition: all .3s ease;
    user-select: none;
}

.footer__tab-item.active {
    background: $green;
    color: #fff;
}

.footer__block {
    
    @include breakpointMax(md) {
        padding: 0 12px;
        display: none;
    }

    @include breakpoint(md) {
        margin-left: 5px;
        margin-bottom: 20px;
        width: calc(25% - 12px);
    }

    @include breakpoint(lg) {
        margin-left: 20px;
        width: calc(25% - 16px);
    }

    @include breakpoint(xl) {
        margin-left: 30px;
        width: 278px;
    }
}

.footer__block.active {
    
    @include breakpointMax(md) {
        display: block;
    }
}

.footer__block-title {
    display: none;

    @include breakpoint(md) {
        margin-bottom: 12px;
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: $green;
        transition: all .2s ease;
    }

    @include breakpoint(lg) {
        margin-bottom: 20px;
        font-size: 16px;
    }
}

.footer__block-title:hover {
    color: $dgreen;
}

.footer__menu-list {
    
    @include breakpointMax(md) {
        margin-left: -5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 166px;
        overflow: hidden;
    }
}

.footer__menu-list li {
    margin-bottom: 8px;
    margin-left: 5px;
    width: calc(50% - 8px);

    @include breakpoint(md) {
        margin-left: 0;
        margin-bottom: 10px;
        width: auto;
    }

    @include breakpoint(lg) {
        margin-bottom: 16px;
    }
}

.footer__menu-list a {
    font-size: 14px;
    line-height: 150%;
    transition: all .2s ease;

    @include breakpoint(lg) {
        font-size: 16px;
    }
}

.footer__menu-list a:hover {
    color: $ltgray;
}

.footer__services {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;

    @include breakpointMax(md) {
        padding: 12px;
    }

    @include breakpoint(md) {
        padding: 28px 0;
        flex-direction: row;
        justify-content: space-between;
    }

    @include breakpoint(lg) {
        align-items: flex-start;
    }

    @include breakpoint(xl) {
        align-items: flex-end;
    }
}

.footer__contacts {
    padding-top: 12px;
    order: 2;
    display: flex;
    justify-content: space-between;

    @include breakpoint(md) {
        padding: 0;
        order: unset;
        display: block;
    }
    
    @include breakpoint(lg) {
        display: flex;
    }
}

.footer__phone {
    display: flex;
    align-items: center;
}

.footer__phone-icon {

    @include breakpoint(md) {
        width: 24px;
        height: 24px;
    }
}

.footer__phone-icon img {
    width: 100%;
}

.footer__phone-value {
    margin-left: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;

    @include breakpoint(md) {
        margin-left: 10px;
        font-size: 20px;
    }
}

.footer__callback {
    margin-top: 12px;
    padding-left: 28px;
    padding-right: 28px;
    display: inline-block;

    @include breakpoint(md) {
        margin-top: 20px;
        width: 277px;
    }
}

.footer__socials {
    display: flex;
    align-items: flex-end;

    @include breakpoint(md) {
        margin-top: 32px;
    }

    @include breakpoint(lg) {
        margin-top: 0;
        margin-left: 46px;
    }

    @include breakpoint(xl) {
        margin-left: 38px;
    }
}

.footer__social-vk {
    margin-left: 12px;
}

.footer__buttons {
    margin-top: 4px;
    padding-bottom: 12px;
    order: 1;
    display: flex;
    border-bottom: 1px solid #E1E1E1;

    @include breakpoint(md) {
        margin: 0;
        padding: 0;
        border: none;
        order: unset;
        display: block;
    }

    @include breakpoint(xl) {
        display: flex;
    }
}

.footer__buttons .button-style {
    width: calc(50% - 3px);
    font-size: 15px;
    line-height: 18px;

    @include breakpoint(md) {
        width: 277px;
    }
}

.footer__results {
    margin-left: 6px;

    @include breakpoint(md) {
        margin-top: 16px;
        margin-left: 0;
    }

    @include breakpoint(xl) {
        margin-top: 0;
        margin-left: 16px;
    }
}

.footer__bottom {

    @include breakpointMax(md) {
        padding: 12px 12px 17px;
    }

    @include breakpoint(md) {
        padding: 28px 0;
        display: flex;
        align-items: center;
    }

    @include breakpoint(lg) {
        justify-content: space-between;
        align-items: center;
    }

    @include breakpoint(xl) {
        border-top: 1px solid #E1E1E1;
    }
}

.footer__logo {
    margin-bottom: 20px;
    width: 167px;

    @include breakpoint(md) {
        margin-bottom: 0;
        flex-shrink: 0;
    }

    @include breakpoint(xl) {
        margin-right: 60px;
    }
}

.footer__logo a {
    display: block;
}

.footer__logo img {
    width: 100%;
}

.footer__bottom-wrap {

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include breakpoint(xl) {
        margin-left: 0;
        width: 100%;
    }
}

.footer__devs {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    @include breakpoint(md) {
        margin: 0 44px;
        flex-shrink: 0;
        width: 168px;
    }

    @include breakpoint(lg) {
        margin: 0 54px;
    }

    @include breakpoint(xl) {
        margin: 0;
        margin-right: 60px;
    }
}

.footer__devs span {
    margin-top: 8px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #373737;
}

.footer__copy {

    @include breakpoint(xl) {
        display: flex;
    }
}

.footer__copyright {
    margin-top: 12px;
    font-size: 14px;
    line-height: 150%;

    @include breakpoint(md) {
        margin-top: 0;
        color: $dgray;
    }

    @include breakpoint(xl) {
        margin-right: 60px;
    }
}

.footer__policy {
    margin-top: 12px;
    font-size: 14px;
    line-height: 150%;

    @include breakpoint(md) {
        margin-top: 6px;
        color: $dgray;
    }

    @include breakpoint(lg) {
        margin-top: 0;
    }
}