---
title: Литех | Сдать анализы в Москве
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Анализы и цены')

    section.section-catalog

        .container

            h1.title Сдать анализы в Москве

            .catalog

                .catalog__support
                    .catalog__support-title Трудности в поиске анализа?
                    .catalog__support-text Свяжитесь с нами удобным для вас способом:
                    .catalog__support-actions
                        .catalog__support-actions-chat.button-style.button-style--fill-green Напишите нам в чат
                        .catalog__support-actions-callback.button-style.button-style--fill-green Закажите звонок
                        .catalog__support-actions-phone
                            img(src="assets/images/phone.svg", alt="icon")
                            a(href="tel:+7 (495) 260-11-26") +7 (495) 260-11-26

                .catalog__menu
                    .catalog__menu-item
                        .catalog__menu-title Популярные анализы

                    .catalog__menu-item
                        .catalog__menu-title Комплексы

                    .catalog__menu-item
                        .catalog__menu-title Общеклинические исследования
                        
                        .catalog__list
                            .catalog__list-item
                                .catalog__list-title Гормоны
                                .catalog__list-link
                                    a(href="#") Определение уровня гормонов
                        
                            .catalog__list-item
                                .catalog__list-title Онкология
                                .catalog__list-link
                                    a(href="#") Рак простаты
                                .catalog__list-link
                                    a(href="#") Комплексные анализы
                                .catalog__list-link
                                    a(href="#") Онкомаркеры
                                .catalog__list-link
                                    a(href="#") Рак яичников

                            .catalog__list-item
                                .catalog__list-title По полу
                                .catalog__list-link
                                    a(href="#") Женский
                                .catalog__list-link
                                    a(href="#") Мужской

                            .catalog__list-item
                                .catalog__list-title По органам и системам
                                .catalog__list-link
                                    a(href="#") Щитовидная железа
                                .catalog__list-link
                                    a(href="#") Печень
                                .catalog__list-link
                                    a(href="#") Почки
                                .catalog__list-link
                                    a(href="#") Кишечник
                                .catalog__list-link
                                    a(href="#") Женская репродуктивная система
                                .catalog__list-link
                                    a(href="#") Мужская репродуктивная система
                                .catalog__list-link
                                    a(href="#") Легкие
                                .catalog__list-link
                                    a(href="#") Желудок
                                .catalog__list-link
                                    a(href="#") Поджелудочная железа
                                .catalog__list-link
                                    a(href="#") Мочевой пузырь

                    .catalog__menu-item
                        .catalog__menu-title Общий анализ крови

                    .catalog__menu-item
                        .catalog__menu-title Анализ мочи

                    .catalog__menu-item
                        .catalog__menu-title Анализ кала

                    .catalog__menu-item
                        .catalog__menu-title Анализ спермы

                    .catalog__menu-item
                        .catalog__menu-title Биохимические анализы

                    .catalog__menu-item
                        .catalog__menu-title Группа крови и резус-фактор

                    .catalog__menu-item
                        .catalog__menu-title Свертываемость крови

                    .catalog__menu-item
                        .catalog__menu-title Гормоны

                    .catalog__menu-item
                        .catalog__menu-title Онкомаркеры

                    .catalog__menu-item
                        .catalog__menu-title Заболевания, передающиеся половым путем (ЗППП)

                    .catalog__menu-item
                        .catalog__menu-title Микробиологические исследования (посевы)

                    .catalog__menu-item
                        .catalog__menu-title Инфекционные, паразитарные и грибковые заболевания

                    .catalog__menu-item
                        .catalog__menu-title Анализы для детей
                        
                    .catalog__menu-item
                        .catalog__menu-title Анализы для женщин

                    .catalog__menu-item
                        .catalog__menu-title Анализы при беременности

                    .catalog__menu-item
                        .catalog__menu-title Анализы для мужчин

                    .catalog__menu-item
                        .catalog__menu-title Аутоиммунные заболевания

                    .catalog__menu-item
                        .catalog__menu-title Иммунология

                    .catalog__menu-item
                        .catalog__menu-title Цитологические и гистологические анализы

                    .catalog__menu-item
                        .catalog__menu-title Установление родства

                    .catalog__menu-item
                        .catalog__menu-title Генетические анализы

                    .catalog__menu-item
                        .catalog__menu-title Лекарственный мониторинг

                    .catalog__menu-item
                        .catalog__menu-title Токсикологические анализы

                    .catalog__menu-item
                        .catalog__menu-title Взятие биоматериала

                    .catalog__menu-item
                        .catalog__menu-title Врачебные услуги

                    .catalog__menu-item
                        .catalog__menu-title Ультразвуковые исследования (УЗИ)

                    .catalog__menu-item
                        .catalog__menu-title Электрокардиограмма (ЭКГ)

                    .catalog__menu-item
                        .catalog__menu-title Диагностика онкологических заболеваний

                .catalog__block

                    h2.catalog__title Популярные анализы

                    .catalog__wrap
                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52) 
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Антитела к антигену SS-A (60 кДа), IgG (Anti-SS-A-60 autoantibodies, IgG)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Антитела к цитоплазматическому антигену Jo-1, IgG (Anti-Jo-1 autoantibodies, IgG)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                .catalog__support
                    .catalog__support-title Трудности в поиске анализа?
                    .catalog__support-text Свяжитесь с нами удобным для вас способом:
                    .catalog__support-actions
                        .catalog__support-actions-chat.button-style.button-style--fill-green Напишите нам в чат
                        .catalog__support-actions-callback.button-style.button-style--fill-green Закажите звонок
                        .catalog__support-actions-phone
                            img(src="assets/images/phone.svg", alt="icon")
                            a(href="tel:+7 (495) 260-11-26") +7 (495) 260-11-26

    section.section-popular.section-gray

        .container

            .popular

                .popular__head

                    h2.popular__title.title Популярные анализы

                    .popular__tab
                        .popular__tab-item.active(data-active=1) Анализы
                        .popular__tab-item(data-active=2) Комплекс анализов
                
                .popular__slider.active(data-show=1)

                    .swiper

                        .swiper-wrapper

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, Differential White Blood  Cell Cell Cell
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину
                            
                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                    .slider-navigation
                        .slider-nav.slider-nav-prev
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")
                        .slider-nav.slider-nav-next
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")
                
                .popular__slider(data-show=2)

                    .swiper

                        .swiper-wrapper

                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину
                            
                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину
                            
                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                    .slider-navigation
                        .slider-nav.slider-nav-prev
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")
                        .slider-nav.slider-nav-next
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")

    section.section-proposal

        .container

            h2.proposal__title.title Акции и спецпредложения

            .proposal

                .swiper

                    .swiper-wrapper

                        .proposal__item.swiper-slide
                            .proposal__item-bg
                                img(src="assets/images/proposal-1.jpg", alt="img")
                            .proposal__item-title Сдать анализы на дому
                            .proposal__item-text Выезд по Москве в пределах МКАД бесплатно при заказе от&nbsp;1500₽
                            .button-style.button-style--fill-white Подробнее

                        .proposal__item.swiper-slide
                            .proposal__item-bg
                                img(src="assets/images/proposal-2.jpg", alt="img")
                            .proposal__item-title При заказе онлайн<br>Скидка 5%
                            .proposal__item-text Для постоянных и новых пациентов!
                            .button-style.button-style--fill-white В каталог

                        .proposal__item.swiper-slide
                            .proposal__item-bg
                                img(src="assets/images/proposal-3.jpg", alt="img")
                            .proposal__item-title Тест на антитела к короновирусу<br>800 ₽
                            .proposal__item-text Lorem ipsum dolor sit amet consectetur. Auctor in neque viverra gravida enim
                            .button-style.button-style--fill-white Записаться
                        
                        .proposal__item.swiper-slide
                            .proposal__item-bg
                                img(src="assets/images/proposal-2.jpg", alt="img")
                            .proposal__item-title При заказе онлайн<br>Скидка 5%
                            .proposal__item-text Для постоянных и новых пациентов!
                            .button-style.button-style--fill-white В каталог

                .slider-navigation
                    .slider-nav.slider-nav-prev
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")
                    .slider-nav.slider-nav-next
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")

    section.section-faq.section-gray

        .container

            .faq

                h2.faq__title.title Часто задаваемые вопросы
                
                .faq__wrapper

                    .faq__item
                        .faq__question
                            .faq__question-text Как узнать результаты?
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

                    .faq__item.expanded
                        .faq__question
                            .faq__question-text Насколько достоверны результаты исследований?
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer(style="display: block") Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

                    .faq__item
                        .faq__question
                            .faq__question-text У меня сложности с поиском анализа
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

                    .faq__item
                        .faq__question
                            .faq__question-text Как узнать результаты?
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

                    .faq__item
                        .faq__question
                            .faq__question-text У меня сложности с поиском анализа
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

    section.section-seo

        .container

            h2.seo__title.title Сдать анализы в лаборатории «Литех»

            h3 Все виды медицинских анализовбыстро и без очереди
            p Вам нужно сдать анализы для госпитализации, пройти диагностическое обследование или оформить санаторно-курортную карту? Медицинская лаборатория «Литех» выполняет более 1500 исследований без талонов и очередей. Результаты большинства анализов будут готовы за 1 день и направлены на вашу электронную почту. Получить медицинские услуги по современным стандартам можно не только в Москве, но и в других городах России. А еще у вас и ваших близких есть возможность сдать анализы на дому — сообщите свой адрес, и мы направим к вам выездную бригаду.
            br
            h3 Широкие возможности лабораторной диагностики
            p Каждый день более 3000 пациентов обращаются в лаборатории «Литех», чтобы выполнить общеклинические анализы, пройти биохимические, гормональные, иммунологические, аллергологические исследования. Спектр самых востребованных услуг лабораторной диагностики включает серологические исследования крови на бактериальные и вирусные инфекции, ПЦР-диагностику инфекций, анализы на онкомаркеры и цитогенетические исследования. Мы выполним любую чек-ап программу для раннего выявления хронических заболеваний, составленную вашим лечащим врачом.

    section.section-subscribe

        .container

            .subscribe
                
                .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                .subscribe__wrapper

                    form

                        .subscribe__input
                            input#email(type="email", name="email" placeholder="Ваш e-mail")
                            button.button-style.button-style--fill-orange(type="submit") Подписаться

                    .subscribe__agreement
                        img(src="assets/images/check-square.svg", alt="icon")
                        p Даю согласие на обработку персональных данных