---
title: Литех | Медицинские офисы
bodyClass: contacts-page
yandexMap: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Контакты')

    section.section-contacts

        .container

            h1.title Медицинские офисы

            .contacts

                .contacts__aside
                    div
                        .contacts__aside-title Не нашли офис поблизости?
                        .contacts__aside-text Закажите услугу "Анализы на дому"
                    .contacts__aside-btn.button-style.button-style--fill-orange Сдать анализы на дому

                .contacts__left
                    .contacts__left-login <a href="#">Зарегистрируйтесь</a> или <a href="#">войдите</a>, чтобы закрепиться за нужным офисом

                    .contacts__tab
                        .contacts__tab-btn.list.active(data-show=1) Списком
                        .contacts__tab-btn.map(data-show=2) На карте
                    
                    .contacts__offices 50 отделений

                    .contacts__select.select-custom
                        .select-value Выбрать медицинский офис
                        .select-variants.animate__animated.animate__fadeIn.animate__faster
                            .select-option Офис «Фрунзенская»
                            .select-option Офис «Маяковская»
                            .select-option Офис «Багратионовская»
                            .select-option Офис «Мичуринский проспект»
                            .select-option Офис «Электрозаводская»
                            .select-option Офис «Перово»
            
            .contacts__section.animate__animated.animate__fadeIn.active(data-active=1)

                .contacts__list

                    .contacts__block
                        .contacts__block-title Офис «Фрунзенская»
                        .contacts__block-metro Фрунзенская
                        .contacts__block-address г. Москва, ул. Малая Пироговская, дом 1А
                        .contacts__block-phone +7 (499) 245-92-00
                        .contacts__block-phone +7 (967) 119-73-44
                        .contacts__block-mail operator.frunzenskaya@analyz24.ru
                        .contacts__block-worktime ПН-ПТ: 8:00 - 19:00
                        .contacts__block-worktime СБ: 10:00 - 16:00
                        .contacts__block-dayoff ВС: выходной
                        .contacts__block-note <span>!</span> Сокращённый график работы<br>8:00 -14:00
                        .contacts__block-btn.button-style
                            a(href="#") Подробнее
                    
                    .contacts__block
                        .contacts__block-title Офис «Маяковская»
                        .contacts__block-metro Маяковская
                        .contacts__block-address г. Москва, ул. Малая Пироговская, дом 1А
                        .contacts__block-phone +7 (499) 245-92-00
                        .contacts__block-phone +7 (967) 119-73-44
                        .contacts__block-mail operator.frunzenskaya@analyz24.ru
                        .contacts__block-worktime ПН-ПТ: 8:00 - 19:00
                        .contacts__block-worktime СБ: 10:00 - 16:00
                        .contacts__block-dayoff ВС: выходной
                        .contacts__block-note <span>!</span> Сокращённый график работы<br>8:00 -14:00
                        .contacts__block-btn.button-style
                            a(href="#") Подробнее
                    
                    .contacts__block
                        .contacts__block-title Офис «Багратионовская»
                        .contacts__block-metro Багратионовская
                        .contacts__block-address г. Москва, ул. Малая Пироговская, дом 1А
                        .contacts__block-phone +7 (499) 245-92-00
                        .contacts__block-phone +7 (967) 119-73-44
                        .contacts__block-mail operator.frunzenskaya@analyz24.ru
                        .contacts__block-worktime ПН-ПТ: 8:00 - 19:00
                        .contacts__block-worktime СБ: 10:00 - 16:00
                        .contacts__block-dayoff ВС: выходной
                        .contacts__block-note <span>!</span> Сокращённый график работы<br>8:00 -14:00
                        .contacts__block-btn.button-style
                            a(href="#") Подробнее
                    
                    .contacts__block
                        .contacts__block-title Офис «Мичуринский проспект»
                        .contacts__block-metro Мичуринский проспект
                        .contacts__block-address г. Москва, ул. Малая Пироговская, дом 1А
                        .contacts__block-phone +7 (499) 245-92-00
                        .contacts__block-phone +7 (967) 119-73-44
                        .contacts__block-mail operator.frunzenskaya@analyz24.ru
                        .contacts__block-worktime ПН-ПТ: 8:00 - 19:00
                        .contacts__block-worktime СБ: 10:00 - 16:00
                        .contacts__block-dayoff ВС: выходной
                        .contacts__block-note <span>!</span> Сокращённый график работы<br>8:00 -14:00
                        .contacts__block-btn.button-style
                            a(href="#") Подробнее
                    
                    .contacts__block
                        .contacts__block-title Офис «Электрозаводская»
                        .contacts__block-metro Электрозаводская
                        .contacts__block-address г. Москва, ул. Малая Пироговская, дом 1А
                        .contacts__block-phone +7 (499) 245-92-00
                        .contacts__block-phone +7 (967) 119-73-44
                        .contacts__block-mail operator.frunzenskaya@analyz24.ru
                        .contacts__block-worktime ПН-ПТ: 8:00 - 19:00
                        .contacts__block-worktime СБ: 10:00 - 16:00
                        .contacts__block-dayoff ВС: выходной
                        .contacts__block-note <span>!</span> Сокращённый график работы<br>8:00 -14:00
                        .contacts__block-btn.button-style
                            a(href="#") Подробнее
                    
                    .contacts__block
                        .contacts__block-title Офис «Перово»
                        .contacts__block-metro Перово
                        .contacts__block-address г. Москва, ул. Малая Пироговская, дом 1А
                        .contacts__block-phone +7 (499) 245-92-00
                        .contacts__block-phone +7 (967) 119-73-44
                        .contacts__block-mail operator.frunzenskaya@analyz24.ru
                        .contacts__block-worktime ПН-ПТ: 8:00 - 19:00
                        .contacts__block-worktime СБ: 10:00 - 16:00
                        .contacts__block-dayoff ВС: выходной
                        .contacts__block-note <span>!</span> Сокращённый график работы<br>8:00 -14:00
                        .contacts__block-btn.button-style
                            a(href="#") Подробнее

            .contacts__section.animate__animated.animate__fadeIn(data-active=2)
                .contacts__map
                    #map(style="width:100%; height:100%")

    section.section-subscribe

        .container

            .subscribe

                .subscribe-container

                    .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                    .subscribe__wrapper

                        form

                            .subscribe__input
                                input#email(type="email", name="email" placeholder="Ваш e-mail" required)
                                button.button-style.button-style--fill-orange(type="submit") Подписаться

                        .subscribe__agreement
                            img(src="assets/images/check-square.svg", alt="icon")
                            p Даю согласие на обработку персональных данных

                // Успешная подписка
                .subscribe-success.hide
                    .subscribe-success__title Спасибо за подписку!
                    .subscribe-success__text Мы отправили вам письмо для подтверждения почтового ящика