---
title: Литех | Медицинские анализы в Москве возле метро Фрунзенская, ул. Малая Пироговская, дом 1А
bodyClass: contacts-inner-page
yandexMap: true
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Контакты', 'Название офиса')

    section.section-contacts-map

        .container

            h1.c-map__title.title Медицинские анализы в Москве возле <span>метро Фрунзенская</span>, ул. Малая Пироговская, дом 1А

            .c-map

                .c-map__contacts
                    h3.c-map__contacts-title Контакты
                    
                    .contacts__block
                        .contacts__block-metro Фрунзенская
                        .contacts__block-address г. Москва, ул. Малая Пироговская, дом 1А
                        .contacts__block-phone +7 (499) 245-92-00
                        .contacts__block-phone +7 (967) 119-73-44
                        .contacts__block-mail operator.frunzenskaya@analyz24.ru
                    
                    .c-map__contacts-worktime
                        a.js-anchor(href="#") График работы мед. офиса

                .c-map__office-map
                    #office_map(style="width:100%;height:100%")

    section.section-route

        .container

            .route

                .route__banner
                    .route__banner-title Не нашли офис поблизости? 
                    .route__banner-text Закажите услугу "Анализы на дому"
                    .route__banner-btn.button-style.button-style--green Сдать анализы на дому
                    .route__banner-img
                        img(src="assets/images/family-spending-time-together-living-room.png", alt="img")

                .route__desc
                    h2.title Как добраться до офиса

                    h4 На машине
                    p Двигайтесь по дублеру Алтуфьевского ш. в сторону МКАД до д. 82. Вход в Центр находится со стороны Алтуфьевского ш., между магазином «Красная икра» и пунктом выдачи OZON.

                    h4 Общественный транспорт
                    p Из центра: до остановки «Алтуфьевское шоссе, д. 87». От остановки перейдите дублер к ТЦ «Арфа», идите прямо до д. 82. Вход в Центр находится со стороны Алтуфьевского ш., между магазином «Красная икра» и пунктом выдачи OZON.Автобусы № т73, 98, 259, 571.Со стороны МКАД: до остановки «Ст. м. «Алтуфьево». От остановки перейдите по подземному переходу к выходу из метро 6. Пройдите 145 метров прямо до д. 82. Вход в Центр находится со стороны Алтуфьевского ш., между магазином «Красная икра» и пунктом выдачи OZON.Автобусы № т73, 259.Со стороны Лианозово: до остановки «Ст. м. «Алтуфьево». От остановки перейдите по подземному переходу к выходу из метро 6. Пройдите 145 метров прямо до д. 82. Вход в Центр находится со стороны Алтуфьевского ш., между магазином «Красная икра» и пунктом выдачи OZON.Автобусы № 53, 92, 98, 273, 284, 302, 352, 415к, 456, 459, 519, 559, 571, 572, 545, 601, 644, 685, 705, 774, 815, 836, 909, 928, 1062.Со стороны Бибирево: до остановки «Ст. м. «Алтуфьево». Перейдите ул. Лескова и двигайтесь вдоль Алтуфьевского ш. мимо входа в метро до д. 82. Вход в Центр находится со стороны Алтуфьевского ш., между магазином «Красная икра» и пунктом выдачи «OZON».Автобусы № 53, 284, 559, 601, 705, 774, 815, 909, 928.

                    h4 Пешком
                    p От ст. м. «Алтуфьево» (выход 6) пройдите 145 метров прямо до д. 82. Вход в Центр находится со стороны Алтуфьевского ш., между магазином «Красная икра» и пунктом выдачи «OZON».

    section.section-schedule

        .container

            h2.title График работы офиса
            .schedule-notice <span>! </span> 9 мая 2023 года офис не работает

            .schedule__table

                .table__row.table__head
                    .table__cell
                    .table__cell ПН
                    .table__cell ВТ
                    .table__cell СР
                    .table__cell ЧТ
                    .table__cell ПТ
                    .table__cell СБ
                    .table__cell ВС

                .table__row
                    .table__cell Взятие анализов крови
                    .table__cell <span>ПН: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ВТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>СР: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ЧТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ПТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>СБ: </span>8:00 <p>-</p> 14:00
                    .table__cell.unavailable <span>ВС: </span>-

                .table__row
                    .table__cell Взятие урогенитальных мазков
                    .table__cell <span>ПН: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ВТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>СР: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ЧТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ПТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>СБ: </span>8:00 <p>-</p> 14:00
                    .table__cell.unavailable <span>ВС: </span>-

                .table__row
                    .table__cell Приём биоматериала (кал, моча)
                    .table__cell <span>ПН: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ВТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>СР: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ЧТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ПТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>СБ: </span>8:00 <p>-</p> 14:00
                    .table__cell.unavailable <span>ВС: </span>-

                .table__row
                    .table__cell Сокращенный график приёма
                        p
                            a Список исследований, доступных до указанного времени
                    .table__cell <span>ПН: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ВТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>СР: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ЧТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ПТ: </span>8:00 <p>-</p> 18:00
                    .table__cell.unavailable <span>СБ: </span>-
                    .table__cell.unavailable <span>ВС: </span>-

                .table__row
                    .table__cell Спермограмма
                        p Приём по предварительно записи
                        .button-style.button-style--fill-orange Записаться
                    .table__cell <span>ПН: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ВТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>СР: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ЧТ: </span>8:00 <p>-</p> 18:00
                    .table__cell <span>ПТ: </span>8:00 <p>-</p> 18:00
                    .table__cell.unavailable <span>СБ: </span>-
                    .table__cell.unavailable <span>ВС: </span>-

    section.section-additional 

        .container

            h2.title Дополнительные услуги медицинского офиса

            .additional
                
                .additional__block
                    .additional__label Приём врача

                    .additional__item
                        .additional__item-wrap
                            .additional__item-label Врач гинеколог-эндокринолог
                            .additional__item-inner
                                .additional__item-name Петрова Светлана Валентиновна
                                .additional__item-skill Высшая квалификация
                        .additional__item-btn.button-style.button-style--fill-orange Записаться на приём

                    .additional__item
                        .additional__item-wrap
                            .additional__item-label Врач гинеколог-эндокринолог
                            .additional__item-inner
                                .additional__item-name Петрова Светлана Валентиновна
                                .additional__item-skill Высшая квалификация
                        .additional__item-btn.button-style.button-style--fill-orange Записаться на приём

                    .additional__item
                        .additional__item-wrap
                            .additional__item-label Врач гинеколог-эндокринолог
                            .additional__item-inner
                                .additional__item-name Петрова Светлана Валентиновна
                                .additional__item-skill Высшая квалификация
                        .additional__item-btn.button-style.button-style--fill-orange Записаться на приём

                    .additional__item
                        .additional__item-wrap
                            .additional__item-label Врач гинеколог-эндокринолог
                            .additional__item-inner
                                .additional__item-name Петрова Светлана Валентиновна
                                .additional__item-skill Высшая квалификация
                        .additional__item-btn.button-style.button-style--fill-orange Записаться на приём

                .additional__block
                    .additional__label УЗИ
                    
                    .additional__item
                        .additional__item-wrap
                            .additional__item-label УЗИ малого таза
                        .additional__item-btn.button-style.button-style--fill-orange Записаться на приём

                    .additional__item
                        .additional__item-wrap
                            .additional__item-label УЗИ органов брюшной полости
                        .additional__item-btn.button-style.button-style--fill-orange Записаться на приём

                .additional__block
                    .additional__label Другие услуги
                    
                    .additional__item
                        .additional__item-wrap
                            .additional__item-label Медицинские справки
                        .additional__item-btn.button-style.button-style--fill-orange Записаться на приём

                    .additional__item
                        .additional__item-wrap
                            .additional__item-label Оформление больничных листов
                        .additional__item-btn.button-style.button-style--fill-orange Записаться на приём

    section.section-gallery

        .container

            .gallery

                .swiper

                    .swiper-wrapper

                        .gallery__image.swiper-slide(data-src="assets/images/img1.png" data-fancybox)
                            img(src="assets/images/img1.png", alt="img")
                        .gallery__image.swiper-slide(data-src="assets/images/img2.png" data-fancybox)
                            img(src="assets/images/img2.png", alt="img")
                        .gallery__image.swiper-slide(data-src="assets/images/img3.png" data-fancybox)
                            img(src="assets/images/img3.png", alt="img")
                        .gallery__image.swiper-slide(data-src="assets/images/img1.png" data-fancybox)
                            img(src="assets/images/img1.png", alt="img")
                        .gallery__image.swiper-slide(data-src="assets/images/img2.png" data-fancybox)
                            img(src="assets/images/img2.png", alt="img")
                        .gallery__image.swiper-slide(data-src="assets/images/img3.png" data-fancybox)
                            img(src="assets/images/img3.png", alt="img")

                .slider-navigation
                    .slider-nav.slider-nav-prev
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")
                    .slider-nav.slider-nav-next
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")

    section.section-proposal

        .container

            h2.proposal__title.title Акции и спецпредложения офиса

            .proposal

                .swiper

                    .swiper-wrapper

                        .proposal__item.swiper-slide
                            .proposal__item-bg
                                img(src="assets/images/proposal-1.jpg", alt="img")
                            .proposal__item-title Сдать анализы на дому
                            .proposal__item-text Выезд по Москве в пределах МКАД бесплатно при заказе от&nbsp;1500₽
                            .button-style.button-style--fill-white Подробнее

                        .proposal__item.swiper-slide
                            .proposal__item-bg
                                img(src="assets/images/proposal-2.jpg", alt="img")
                            .proposal__item-title При заказе онлайн<br>Скидка 5%
                            .proposal__item-text Для постоянных и новых пациентов!
                            .button-style.button-style--fill-white В каталог

                        .proposal__item.swiper-slide
                            .proposal__item-bg
                                img(src="assets/images/proposal-3.jpg", alt="img")
                            .proposal__item-title Тест на антитела к короновирусу<br>800 ₽
                            .proposal__item-text Lorem ipsum dolor sit amet consectetur. Auctor in neque viverra gravida enim
                            .button-style.button-style--fill-white Записаться

                        .proposal__item.swiper-slide
                            .proposal__item-bg
                                img(src="assets/images/proposal-2.jpg", alt="img")
                            .proposal__item-title При заказе онлайн<br>Скидка 5%
                            .proposal__item-text Для постоянных и новых пациентов!
                            .button-style.button-style--fill-white В каталог

                .slider-navigation
                    .slider-nav.slider-nav-prev
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")
                    .slider-nav.slider-nav-next
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")

    section.section-info

        .container

            h2.s-info__title Сведения о юридическом лице

            .info

                .info__wrap

                    .info__item
                        p
                            b Офис «Фрунзенская»
                        p
                            b ООО "Литех-Диагностика"
                    
                    .info__item
                        p
                            b Лицензия
                        p ЛО-77-01-006579

                    .info__item
                        p
                            b Юридический адрес
                        p 107023 г. Москва, ул. Малая Семеновская д. 3А стр. 2
                    
                    .info__item
                        p
                            b Дата начала действия лицензии:
                        p 23.08.2013 г.
                    
                    .info__item
                        p
                            b Фактический адрес
                        p г. Москва, ул. Малая Пироговская, дом 1А

                    .info__item
                        p
                            b Лицензирующий орган:
                        p Департамент здравоохранения г. Москвы
                
                .info__text
                    p Сеть «Литех» имеет более 20 представительств на территории России. Для проживающих в ЦАО столицы в шаговой доступности имеется медицинский офис на ул. Малая Пироговская, 1а (5 мин ходьбы от метро Фрунзенская). Лаборатория принимает анализы мочи и крови (общий клинический, билирубин, пролактин и т.д.), а также проводит различные исследования.
                      br
                      br
                      |Чтобы сдать анализы, запишитесь в лабораторию на Фрунзенской в любое удобное для Вас время, позвонив по телефону +7 (967) 119-73-44. Также вы можете выбрать другой медицинский офис из списка адресов в разделе «Контакты». Для получения дополнительной информации позвоните по бесплатному номеру горячей линии 8-800-700-45-82.

    section.section-subscribe

        .container

            .subscribe

                .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                .subscribe__wrapper

                    form

                        .subscribe__input
                            input#email(type="email", name="email" placeholder="Ваш e-mail" required)
                            button.button-style.button-style--fill-orange(type="submit") Подписаться

                    .subscribe__agreement
                        img(src="assets/images/check-square.svg", alt="icon")
                        p Даю согласие на обработку персональных данных