---
title: Литех | Главная
bodyClass: main-page
yandexMap: true
---

extends includes/_page

block main

    section.section-banner

        .container

            .banner

                .banner__slider
                    .swiper

                        .swiper-wrapper

                            .swiper-slide.banner__slider-item
                                .banner__slider-bg
                                    img(src="assets/images/my-love-delighted-young-man.png", alt="img")
                                .banner__slider-title Тест на антитела к короновирусу<br>800 ₽
                                .banner__slider-text Lorem ipsum dolor sit amet consectetur. Auctor in neque viverra gravida enim
                                .button-style.button-style--fill-white Записаться

                            .swiper-slide.banner__slider-item
                                .banner__slider-bg
                                    img(src="assets/images/my-love-delighted-young-man.png", alt="img")
                                .banner__slider-title Тест на антитела к короновирусу<br>800 ₽
                                .banner__slider-text Lorem ipsum dolor sit amet consectetur. Auctor in neque viverra gravida enim
                                .button-style.button-style--fill-white Записаться

                            .swiper-slide.banner__slider-item
                                .banner__slider-bg
                                    img(src="assets/images/my-love-delighted-young-man.png", alt="img")
                                .banner__slider-title Тест на антитела к короновирусу<br>800 ₽
                                .banner__slider-text Lorem ipsum dolor sit amet consectetur. Auctor in neque viverra gravida enim
                                .button-style.button-style--fill-white Записаться

                        .banner-navigation
                            .banner__nav.banner__nav-prev
                                img(src="assets/images/chevron-left-green.svg", alt="icon")
                            .banner__nav.banner__nav-next
                                img(src="assets/images/chevron-right-green.svg", alt="icon")

                        .banner-pagination

                .banner__block

                    .banner__item
                        .banner__item-bg
                            img(src="assets/images/well-dressed-white-girl-laughing-while-posing.png", alt="img")
                        .banner__item-title Сдать анализы на дому
                        .banner__item-text Выезд по Москве в пределах МКАД бесплатно при заказе от&nbsp;1500₽
                        .button-style.button-style--fill-white Подробнее

                    .banner__item
                        .banner__item-bg
                            img(src="assets/images/shocked-red-haired-young-woman-holds-breath.png", alt="img")
                        .banner__item-title При заказе онлайн<br>Скидка 5%
                        .banner__item-text Для постоянных и новых пациентов!
                        .button-style.button-style--fill-white В каталог

    section.section-popular.section-gray

        .container

            .popular

                .popular__head

                    h2.popular__title.title Популярные анализы

                    .popular__tab
                        .popular__tab-item.active(data-active=1) Анализы
                        .popular__tab-item(data-active=2) Комплекс анализов

                .popular__slider.active(data-show=1)

                    .swiper

                        .swiper-wrapper

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, Differential White Blood  Cell Cell Cell
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                    .slider-navigation
                        .slider-nav.slider-nav-prev
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")
                        .slider-nav.slider-nav-next
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")

                .popular__slider(data-show=2)

                    .swiper

                        .swiper-wrapper

                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 25
                                .popular__block-label Дифференцированный блабла (подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 90 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                            .popular__block.swiper-slide
                                .popular__block-code Код № 52
                                .popular__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, патологич...
                                .popular__block-time
                                    img(src="assets/images/clock.svg", alt="icon")
                                    p 1 рабочий день
                                .popular__block-home
                                    img(src="assets/images/home.svg", alt="icon")
                                    p Можно сдать дома
                                .popular__block-bottom
                                    .popular__block-price 100 000 ₽
                                    .popular__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                    .slider-navigation
                        .slider-nav.slider-nav-prev
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")
                        .slider-nav.slider-nav-next
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")

    section.section-services

        .container

            .services

                .services__block

                    .services__item.bg-violet
                        a(href="#")
                            .services__item-title Сдать анализы
                            .services__item-icon
                                img(src="assets/images/chevron-right-white.svg", alt="icon")
                            .services__item-img
                                img(src="assets/images/swab.svg", alt="img")

                    .services__item.bg-yellow
                        a(href="#")
                            .services__item-title Программа лояльности
                            .services__item-icon
                                img(src="assets/images/chevron-right-white.svg", alt="icon")
                            .services__item-img
                                img(src="assets/images/discount.svg", alt="img")

                    .services__item.bg-orange
                        a(href="#")
                            .services__item-title Выезд на дом
                            .services__item-icon
                                img(src="assets/images/chevron-right-white.svg", alt="icon")
                            .services__item-img
                                img(src="assets/images/delivery.svg", alt="img")

                    .services__item.bg-green
                        a(href="#")
                            .services__item-title Адреса клиник
                            .services__item-icon
                                img(src="assets/images/chevron-right-white.svg", alt="icon")
                            .services__item-img
                                img(src="assets/images/loc.svg", alt="img")


                .services__banner
                    .services__banner-title Сдать анализы на дому
                    .services__banner-text
                        | Выезд по Москве в пределах МКАД
                        p
                            span бесплатно при заказе от&nbsp;1500₽
                    .services__banner-btn.button-style.button-style--green Узнать подробнее
                    .services__banner-img
                        img(src="assets/images/family-spending-time-together-living-room.png", alt="img")

    section.section-programs.section-gray

        .container

            h2.programs__title.title Программы здоровья

            .programs

                .programs__wrapper

                    .programs__item
                        a(href="#")
                            .programs__item-img.bg-orange
                                img(src="assets/images/002-woman.svg", alt="icon")
                            .programs__item-label Для женщин
                            .programs__item-arrow
                                img(src="assets/images/arrow-right.svg", alt="icon")

                    .programs__item
                        a(href="#")
                            .programs__item-img.bg-green
                                img(src="assets/images/003-mars.svg", alt="icon")
                            .programs__item-label Для мужчин
                            .programs__item-arrow
                                img(src="assets/images/arrow-right.svg", alt="icon")

                    .programs__item
                        a(href="#")
                            .programs__item-img.bg-violet
                                img(src="assets/images/001-pregnant.svg", alt="icon")
                            .programs__item-label Для беременных
                            .programs__item-arrow
                                img(src="assets/images/arrow-right.svg", alt="icon")

                    .programs__item
                        a(href="#")
                            .programs__item-img.bg-yellow
                                img(src="assets/images/004-old-people.svg", alt="icon")
                            .programs__item-label Для пожилых
                            .programs__item-arrow
                                img(src="assets/images/arrow-right.svg", alt="icon")

                    .programs__item
                        a(href="#")
                            .programs__item-img.bg-pink
                                img(src="assets/images/005-lifestyle.svg", alt="icon")
                            .programs__item-label Лайфстайл анализы
                            .programs__item-arrow
                                img(src="assets/images/arrow-right.svg", alt="icon")

                .programs__images
                    img(src="assets/images/progs-img.png", alt="img")

    section.section-advantages

        .container

            .advantages

                .advantages__item
                    h2.advantages__title.title Почему наши цены ниже чем у конкурентов?

                .advantages__item.bg-green
                    .advantages__icon
                        img(src="assets/images/001-hearts.svg", alt="icon")
                    .advantages__desc
                        .advantages__desc-title Клиентоориентированность
                        .advantages__desc-text Делаем медицину - доступной

                .advantages__item.bg-green
                    .advantages__icon
                        img(src="assets/images/002-increase.svg", alt="icon")
                    .advantages__desc
                        .advantages__desc-title Плавный рост компании
                        .advantages__desc-text Открытие в 2011 году

                .advantages__item.bg-green
                    .advantages__icon
                        img(src="assets/images/003-good-feedback.svg", alt="icon")
                    .advantages__desc
                        .advantages__desc-title Отсутствие больших затрат на рекламу
                        .advantages__desc-text Основной приток новых пациентов – рекомендации

                .advantages__item.bg-green
                    .advantages__icon
                        img(src="assets/images/004-microscope.svg", alt="icon")
                    .advantages__desc
                        .advantages__desc-title Покупка премиального оборудования
                        .advantages__desc-text Не требует постоянного ремонта и частой замены

                .advantages__item.bg-green
                    .advantages__icon
                        img(src="assets/images/005-values.svg", alt="icon")
                    .advantages__desc
                        .advantages__desc-title Ценности заложенные при открытии
                        .advantages__desc-text Качество важнее количества

    section.section-useful

        .container

            h2.useful__title.title Полезные статьи

            .useful

                .swiper

                    .swiper-wrapper

                        .useful__item.swiper-slide
                            a(href="#")
                                .useful__item-img
                                    img(src="assets/images/3d-medical-background-with-measles-virus.jpg", alt="img")
                                .useful__item-title Способы лечения аутоиммунных заболеваний
                                .useful__item-date 16.03.2023

                        .useful__item.swiper-slide
                            a(href="#")
                                .useful__item-img
                                    img(src="assets/images/3d-medical-background-with-measles-2.jpg", alt="img")
                                .useful__item-title Способы лечения аутоиммунных заболеваний
                                .useful__item-date 16.03.2023

                        .useful__item.swiper-slide
                            a(href="#")
                                .useful__item-img
                                    img(src="assets/images/3d-medical-background-with-measles-3.jpg", alt="img")
                                .useful__item-title Способы лечения аутоиммунных заболеваний
                                .useful__item-date 16.03.2023

                        .useful__item.swiper-slide
                            a(href="#")
                                .useful__item-img
                                    img(src="assets/images/3d-medical-background-with-measles-virus.jpg", alt="img")
                                .useful__item-title Способы лечения аутоиммунных заболеваний
                                .useful__item-date 16.03.2023

                        .useful__item.swiper-slide
                            a(href="#")
                                .useful__item-img
                                    img(src="assets/images/3d-medical-background-with-measles-virus.jpg", alt="img")
                                .useful__item-title Способы лечения аутоиммунных заболеваний
                                .useful__item-date 16.03.2023

                .slider-navigation
                    .slider-nav.slider-nav-prev
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")
                    .slider-nav.slider-nav-next
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled(src="assets/images/chevron-left-gray.svg", alt="icon")


    section.section-faq.section-gray

        .container

            .faq

                h2.faq__title.title Часто задаваемые вопросы

                .faq__wrapper

                    .faq__item
                        .faq__question
                            .faq__question-text Как узнать результаты?
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

                    .faq__item.expanded
                        .faq__question
                            .faq__question-text Насколько достоверны результаты исследований?
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer(style="display: block") Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

                    .faq__item
                        .faq__question
                            .faq__question-text У меня сложности с поиском анализа
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

                    .faq__item
                        .faq__question
                            .faq__question-text Как узнать результаты?
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

                    .faq__item
                        .faq__question
                            .faq__question-text У меня сложности с поиском анализа
                            .faq__question-icon
                                img.plus(src="assets/images/plus.svg", alt="icon")
                                img.minus(src="assets/images/minus.svg", alt="icon")
                        .faq__answer Результаты анализов, проводимых Инвитро, отвечают международным стандартам качества и признаны достоверными.

    section.section-map

        .container

            h2.map__title.title Адреса медицинских офисов

        .map__wrapper

            .map__dropdown
                .map__dropdown-select Выбрать медицинский офис

                ul.map__dropdown-list
                    li.map__dropdown-item Офис «Маяковская»
                    li.map__dropdown-item Офис «Фрунзенская»
                    li.map__dropdown-item Офис «Багратионовская»
                    li.map__dropdown-item Офис «Мичуринский проспект»
                    li.map__dropdown-item Офис «Электрозаводская»
                    li.map__dropdown-item Офис «Перово»
                    li.map__dropdown-item Офис «Первомайская»
                    li.map__dropdown-item Офис «Коньково»
                    li.map__dropdown-item Офис «Беломорская»
                    li.map__dropdown-item Офис «Сходненская»
                    li.map__dropdown-item Офис «Коммунарка»

            #map(style="width:100%; height:100%")

    section.section-seo

        .container

            h2.seo__title.title Сдать анализы в лаборатории «Литех»

            h3 Все виды медицинских анализовбыстро и без очереди
            p Вам нужно сдать анализы для госпитализации, пройти диагностическое обследование или оформить санаторно-курортную карту? Медицинская лаборатория «Литех» выполняет более 1500 исследований без талонов и очередей. Результаты большинства анализов будут готовы за 1 день и направлены на вашу электронную почту. Получить медицинские услуги по современным стандартам можно не только в Москве, но и в других городах России. А еще у вас и ваших близких есть возможность сдать анализы на дому — сообщите свой адрес, и мы направим к вам выездную бригаду.
            br
            h3 Широкие возможности лабораторной диагностики
            p Каждый день более 3000 пациентов обращаются в лаборатории «Литех», чтобы выполнить общеклинические анализы, пройти биохимические, гормональные, иммунологические, аллергологические исследования. Спектр самых востребованных услуг лабораторной диагностики включает серологические исследования крови на бактериальные и вирусные инфекции, ПЦР-диагностику инфекций, анализы на онкомаркеры и цитогенетические исследования. Мы выполним любую чек-ап программу для раннего выявления хронических заболеваний, составленную вашим лечащим врачом.

    section.section-subscribe

        .container

            .subscribe

                .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                .subscribe__wrapper

                    form

                        .subscribe__input
                            input#email(type="email", name="email" placeholder="Ваш e-mail" required)
                            button.button-style.button-style--fill-orange(type="submit") Подписаться

                    .subscribe__agreement
                        img(src="assets/images/check-square.svg", alt="icon")
                        p Даю согласие на обработку персональных данных