---
title: Литех | Наша лаборатория
bodyClass: our-laboratory-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('О лаборатории','Наша лаборатория')

    .sidebar-page 
        .container 
            .sidebar-page-wrapper 

                .sidebar-page__nav 
                    ul.sidebar-page__list
                        li.active
                            a(href="") Наша лаборатория
                        li
                            a(href="") Документы
                        li
                            a(href="") Ваши акции
                        li
                            a(href="") Лицензии и сертификаты
                        li
                            a(href="") Вакансии
                        li
                            a(href="") Франшиза
                        li 
                            a(href="") Отзывы
                        li 
                            a(href="") Вопрос и ответ

                .sidebar-page__content 
                    p <b>Лаборатория Литех</b> предлагает партнерам широкий спектр лабораторно-диагностических услуг, включающий в себя общеклинические, биохимические, гормональные, иммунологические, аллергологические типы исследований.
                    p Конкурентные преимущества нашей лаборатории обеспечены сервисными возможностями, информационной поддержкой клиентов, высокой скоростью выполнения исследований.
                    p Нашими партнерами являются, федеральные и муниципальные лечебно-профилактические учреждения, клиники пластической хирургии, родильные дома, медицинские центры, частнопрактикующие врачи.
                    
                    .our-laboratory__advantages

                        .our-laboratory__advantage
                            .our-laboratory__advantage-number >25 лет
                            .our-laboratory__advantage-text На рынке лабораторной диагностики

                        .our-laboratory__advantage
                            .our-laboratory__advantage-number >400
                            .our-laboratory__advantage-text Медучреждений сотрудничают с Литех

                        .our-laboratory__advantage
                            .our-laboratory__advantage-number >1 500
                            .our-laboratory__advantage-text Лабораторных исследований

                        .our-laboratory__advantage
                            .our-laboratory__advantage-number >3 000
                            .our-laboratory__advantage-text Пациентов в день

                    p <b>Лаборатория Литех</b> участвует в системах внешней оценки качества: ФСВОК Федеральная Система Внешней Оценки Качества клинических лабораторных исследований (Россия) и EQAS External Quality Assurance Services, BIO-Rad (США).
                    br
                    br
                    h3 Конкурентные преимущества лаборатории Литех:
                    br
                    .our-labolatory__peculiarities
                        .our-labolatory__peculiaritie Выполнение большей части спектра исследований за 1 рабочий день
                        .our-labolatory__peculiaritie Гибкая система скидок корпоративным клиентам
                        .our-labolatory__peculiaritie Решение организационных вопросов персональным менеджером
                        .our-labolatory__peculiaritie Услуги бесплатной курьерской службы доступны 7 дней в неделю для транспортировки биоматериала и доставки результатов исследований
                        .our-labolatory__peculiaritie Бесплатные расходные материалы для корпоративных клиентов
                        .our-labolatory__peculiaritie Хранение результатов анализов пациентов более 2-х лет в лабораторной информационной системе «ЛИС» (возможность установки доступа в систему)
                        .our-labolatory__peculiaritie Возможность проведения дополнительных исследований без повторного взятия крови
                        .our-labolatory__peculiaritie Получение результатов исследований в режиме реального времени на сервере лаборатории
                        .our-labolatory__peculiaritie Высокотехнологичный парк аналитического оборудования;
                        .our-labolatory__peculiaritie Многоуровневый контроль качества;
                        .our-labolatory__peculiaritie Бесплатные тематические семинары для врачей, затрагивающие последние тренды и инновации в современной клинической лабораторной диагностике

                    .our-laboratory__names 
                        .our-laboratory__name
                            div Полное наименование юридического лица:
                            span Общество с ограниченной ответственностью Лаборатория «Литех»
                        .our-laboratory__name
                            div Сокращенное наименование:
                            span ООО Лаборатория «Литех»
                        .our-laboratory__name
                            div Адрес места нахождения:
                            span 107023, г. Москва, ул. Малая Семеновская, д.3А, стр.2.

                    br
                    br
                    br
                    h2 Контролирующие органы

                    .our-laboratory__authorities

                        .our-laboratory__authoritie
                            .our-laboratory__authoritie-title Департамент здравоохранения города Москвы
                            .our-laboratory__authoritie-text Адрес: 127006, г.Москва, Оружейный переулок, д. 43
                            .our-laboratory__authoritie-text Телефон: (499) 251-83-00

                        .our-laboratory__authoritie
                            .our-laboratory__authoritie-title Территориальный орган Федеральной службы по надзору в сфере здравоохранения по г. Москве и Московской области
                            .our-laboratory__authoritie-text Адрес: 127206, г. Москва, ул. Вучетича, д. 12А.
                            .our-laboratory__authoritie-text Телефон: (495) 611-47-74

                        .our-laboratory__authoritie
                            .our-laboratory__authoritie-title Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по городу Москве
                            .our-laboratory__authoritie-text Адрес: 129626, г. Москва, Графский пер., д. 4/9 
                            .our-laboratory__authoritie-text Телефон: (495) 621-70-76

    section.section-subscribe

        .container

            .subscribe

                .subscribe-container

                    .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                    .subscribe__wrapper

                        form

                            .subscribe__input
                                input#email(type="email", name="email" placeholder="Ваш e-mail" required)
                                button.button-style.button-style--fill-orange(type="submit") Подписаться

                        .subscribe__agreement
                            img(src="assets/images/check-square.svg", alt="icon")
                            p Даю согласие на обработку персональных данных

                // Успешная подписка
                .subscribe-success.hide
                    .subscribe-success__title Спасибо за подписку!
                    .subscribe-success__text Мы отправили вам письмо для подтверждения почтового ящика