---
title: Литех | Страницы
---

extends includes/_page

block main

    style.
        li {
            padding: 5px 0;
            border-top: 1px solid #d9d1d1;
        }

        li:first-child {
            border-top: none;
        }

        li:hover {
            color: #0CAA70;
        }

        h2 {
            margin: 40px 0 25px;
        }

    section

        .container

            ul

                li
                    a(href="index.html") Главная
                li
                    a(href="contacts.html") Контакты
                li
                    a(href="contacts-inner.html") Контакты (внутренняя)
                li
                    a(href="sales.html") Акции
                li
                    a(href="sales-inner.html") Акции (внутренняя)
                li
                    a(href="preparation.html") Медицинские офисы
                li
                    a(href="catalog.html") Каталог
                li
                    a(href="catalog-inner.html") Каталог (внутренняя)
                li
                    a(href="cart.html") Фран

                li
                    a(href="cart.html") Корзина 

                li 
                    a(href="covid.html") COVID 

                li 
                    a(href="our-laboratory.html") Наша лаборатория

                li
                    a(href="home-visit.html") Выезд на дом

                li
                    a(href="sciense-articles.html")  Научно популярные статьи
                li
                    a(href="sciense-articles-inner.html")  Научно популярные статьи (внутренняя)
                li
                    a(href="partner-news.html") Новости партнеров

                li
                    a(href="text-page.html") Текстовая страница

                li
                    a(href="sidebar-text-page.html") Текстовая страница с меню боковым

                li
                    a(href="404.html") 404

            h2 Новые страницы
            
            ul

                li
                    a(href="index.html") Главная