---
title: Литех | Новости партнеров
bodyClass: partner-news-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Новости партнеров')

    .container
        h1.title Новости наших партнёров

    .sidebar-page 
        .container 
            .sidebar-page-wrapper 

                .sidebar-page__nav 
                    ul.sidebar-page__list
                        li.active
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 

                .sidebar-page__content

                    .partner-news__items

                        .partner-news__item
                            .partner-news__item-img 
                                img(src="assets/images/partner-logo.svg", alt="")
                            .partner-news__item-title МРТ-центр "Сияние"
                            a.partner-news__item-link
                                span Адрес:
                                div г.Москва, ул. Шолохова, д.5, корп.2
                            a.partner-news__item-link
                                span Сайт:
                                div https://mrtcenter.ru
                            a.partner-news__item-link
                                span Электронная почта:
                                div s1.mrt@yandex.ru
                            .partner-news__item-phone
                                span Телефоны:
                                a(href="") 8 (495) 662-43-77 (многоканальный)
                                a(href="") 8 (495) 733-64-24
                            .partner-news__item-content 
                                p Медицинский центр "Сияние" проводит МРТ-исследования на высокопольном немецком томографе закрытого типа Сименс. По результатам каждого исследования выдается заключение и диск с диагностическими изображениями. Каждому пациенту медицинских центров «Сияние» уделяется максимум внимания: обработка результатов исследования в зависимости от сложности занимает от 20 минут до нескольких часов. Все это делается для того, чтобы не допустить ошибок и неточностей в исследовании.
                                p В процедурном кабинете МРТ-центра "Сияние" вы можете сдать все виды анализов, пройти курс внутривенного капельного введения препаратов, внутримышечного введения и другие медицинские процедуры. Наши специалисты быстро и безболезненно проведут все необходимые манипуляции. Все расходные материалы предназначенные для работы с кровью одноразовые. Лекарственные препараты регулярно обновляются, сроки их хранения контролируются. Процедуры проводятся в соответствии с государственными медицинскими стандартами. В МРТ-центре «Сияние» периодически проходят различные акции, предоставляются скидки. Из уважения к своему прошлому для ветеранов Великой Отечественной войны мы проводим обследования бесплатно. А также исходя из выделенных квот проводим бесплатные исследования по полису ОМС.

                        .partner-news__item
                            .partner-news__item-img 
                                img(src="assets/images/partner-logo.svg", alt="")
                            .partner-news__item-title МРТ-центр "Сияние"
                            a.partner-news__item-link
                                span Адрес:
                                div г.Москва, ул. Шолохова, д.5, корп.2
                            a.partner-news__item-link
                                span Сайт:
                                div https://mrtcenter.ru
                            a.partner-news__item-link
                                span Электронная почта:
                                div s1.mrt@yandex.ru
                            .partner-news__item-phone
                                a(href="") 8 (495) 662-43-77 (многоканальный)
                                a(href="") 8 (495) 733-64-24
                            .partner-news__item-content 
                                p Медицинский центр "Сияние" проводит МРТ-исследования на высокопольном немецком томографе закрытого типа Сименс. По результатам каждого исследования выдается заключение и диск с диагностическими изображениями. Каждому пациенту медицинских центров «Сияние» уделяется максимум внимания: обработка результатов исследования в зависимости от сложности занимает от 20 минут до нескольких часов. Все это делается для того, чтобы не допустить ошибок и неточностей в исследовании.
                                p В процедурном кабинете МРТ-центра "Сияние" вы можете сдать все виды анализов, пройти курс внутривенного капельного введения препаратов, внутримышечного введения и другие медицинские процедуры. Наши специалисты быстро и безболезненно проведут все необходимые манипуляции. Все расходные материалы предназначенные для работы с кровью одноразовые. Лекарственные препараты регулярно обновляются, сроки их хранения контролируются. Процедуры проводятся в соответствии с государственными медицинскими стандартами. В МРТ-центре «Сияние» периодически проходят различные акции, предоставляются скидки. Из уважения к своему прошлому для ветеранов Великой Отечественной войны мы проводим обследования бесплатно. А также исходя из выделенных квот проводим бесплатные исследования по полису ОМС.

                        .partner-news__item
                            .partner-news__item-img 
                                img(src="assets/images/partner-logo.svg", alt="")
                            .partner-news__item-title МРТ-центр "Сияние"
                            a.partner-news__item-link
                                span Адрес:
                                div г.Москва, ул. Шолохова, д.5, корп.2
                            a.partner-news__item-link
                                span Сайт:
                                div https://mrtcenter.ru
                            a.partner-news__item-link
                                span Электронная почта:
                                div s1.mrt@yandex.ru
                            .partner-news__item-phone
                                a(href="") 8 (495) 662-43-77 (многоканальный)
                                a(href="") 8 (495) 733-64-24
                            .partner-news__item-content 
                                p Медицинский центр "Сияние" проводит МРТ-исследования на высокопольном немецком томографе закрытого типа Сименс. По результатам каждого исследования выдается заключение и диск с диагностическими изображениями. Каждому пациенту медицинских центров «Сияние» уделяется максимум внимания: обработка результатов исследования в зависимости от сложности занимает от 20 минут до нескольких часов. Все это делается для того, чтобы не допустить ошибок и неточностей в исследовании.
                                p В процедурном кабинете МРТ-центра "Сияние" вы можете сдать все виды анализов, пройти курс внутривенного капельного введения препаратов, внутримышечного введения и другие медицинские процедуры. Наши специалисты быстро и безболезненно проведут все необходимые манипуляции. Все расходные материалы предназначенные для работы с кровью одноразовые. Лекарственные препараты регулярно обновляются, сроки их хранения контролируются. Процедуры проводятся в соответствии с государственными медицинскими стандартами. В МРТ-центре «Сияние» периодически проходят различные акции, предоставляются скидки. Из уважения к своему прошлому для ветеранов Великой Отечественной войны мы проводим обследования бесплатно. А также исходя из выделенных квот проводим бесплатные исследования по полису ОМС.

    section.section-subscribe

        .container

            .subscribe

                .subscribe-container

                    .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                    .subscribe__wrapper

                        form

                            .subscribe__input
                                input#email(type="email", name="email" placeholder="Ваш e-mail" required)
                                button.button-style.button-style--fill-orange(type="submit") Подписаться

                        .subscribe__agreement
                            img(src="assets/images/check-square.svg", alt="icon")
                            p Даю согласие на обработку персональных данных

                // Успешная подписка
                .subscribe-success.hide
                    .subscribe-success__title Спасибо за подписку!
                    .subscribe-success__text Мы отправили вам письмо для подтверждения почтового ящика
                            

