---
title: Литех | Медицинские офисы
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Подготовка к анализам')

    section.section-preparation

        .container

            .preparation

                h1.title Подготовка к анализам

                .preparation__select-title Выберите тип биоматериалы

                .preparation__select.select-custom
                    .select-value Кровь 1
                    .select-variants.animate__animated.animate__fadeIn.animate__faster
                        .select-option.active(data-show=1) Кровь 1
                        .select-option(data-show=2) Кровь 2
                        .select-option(data-show=3) Кровь 3
                        .select-option(data-show=4) Кровь 4

                .preparation__content.active(data-active=1)

                    p Для большинства исследований кровь рекомендуется сдавать утром, с 8 до 11 часов, натощак (между последним приемом пищи и взятием крови должно пройти не менее 8 часов, воду можно пить в обычном режиме), накануне исследования — легкий ужин с ограничением приема жирной пищи. Для тестов на инфекции и экстренных исследований допустимо сдавать кровь через 4-6 часов после последнего приема пищи.

                    h3 Прием пищи

                    h4 Перед сдачей крови рекомендуется:

                    ul 
                        li Не принимать жирную пищу накануне анализа
                        li Не принимать пищу за 8-12 часов до анализа
                        li Выпить 1-2 стакана простой негазированной воды утром за 40-60 мин. до анализа. Уменьшится вязкость, и проще будет взять кровь на анализ
                    
                    h4 Почему это важно?

                    p Прием пищи накануне анализа может исказить результат и даже привести к невозможности выполнения теста.
                      br  
                      br  
                      |После всасывания питательных веществ из пищи, концентрация белков, жиров, углеводов и других соединений в крови возрастает, запускается работа ферментов и некоторых гормонов, может измениться вязкость крови.
                      br
                      br
                    |Эти факторы могут повлиять на концентрацию исследуемого вещества или изменить свойства самой крови так, что это помешает выполнению анализа.
                
                    h3 Лекарственные препараты

                    h4 Перед сдачей крови:

                    ul
                        li По согласованию с врачом прекратить прием лекарственных препаратов минимум за сутки до анализа
                        li
                            div Исключить прием биологически активных добавок, содержащих биотин (витамин Н, витамин В7):
                                ul
                                    li при дозировке более 5 мг в сутки – не менее чем за сутки до анализа
                                    li при дозировке более 10 мг в сутки – не менее чем за двое суток до анализа

                    h4 Почему это важно?

                    p Любое лекарство или БАД воздействует на организм. При этом значение имеют физиологические особенности конкретного человека, а также наличие каких-либо заболеваний. Поэтому точно спрогнозировать, как изменятся результаты анализа в зависимости от какого-либо препарата, практически невозможно.
                      br
                      br
                      |Если вы принимаете какие-либо лекарства и БАДы, обязательно сообщите их названия администратору Диагностического центра Хеликс при оформлении заказа.

                    h3 Физические нагрузки и эмоциональное состояние

                    h4 Перед сдачей крови:

                    ul
                        li Исключить физическую активность минимум за 30 минут до анализа
                        li Исключить повышенные эмоциональные нагрузки, волнения, стресс
                        li За несколько минут до процедуры взятия крови принять удобное положение (сесть), расслабиться, успокоиться
        
                    h4 Почему это важно?

                    p Любая физическая нагрузка запускает работу целого ряда ферментных и гормональных систем. В крови повышается концентрация биологически активных веществ, интенсивнее начинают работать внутренние органы, изменяется обмен веществ.
                      br
                      br
                      |На фоне стресса запускаются механизмы, приводящие к изменению работы внутренних органов и активации ферментных и гормональных систем. Это может сказаться на результатах анализов.

    section.section-subscribe

        .container

            .subscribe

                .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                .subscribe__wrapper

                    form

                        .subscribe__input
                            input#email(type="email", name="email" placeholder="Ваш e-mail")
                            button.button-style.button-style--fill-orange(type="submit") Подписаться

                    .subscribe__agreement
                        img(src="assets/images/check-square.svg", alt="icon")
                        p Даю согласие на обработку персональных данных