---
title: Литех | Отзывы
bodyClass: reviews-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('О лаборатории', 'Отзывы')

    .container
        h1.title Отзывы

    .sidebar-page
        .container
            .sidebar-page-wrapper

                .sidebar-page__nav
                    ul.sidebar-page__list
                        li
                            a(href="") Наша лаборатория
                        li
                            a(href="") Документы
                        li
                            a(href="") Ваши акции
                        li
                            a(href="") Лицензии и сертификаты
                        li
                            a(href="") Вакансии
                        li
                            a(href="") Франшиза
                        li.active
                            a(href="") Отзывы
                        li
                            a(href="") Вопрос и ответ
                
                .sidebar-page__content.reviews__content
                    .reviews-wrapper
                        .reviews-descr
                            .reviews-descr__text Мы стремимся оказывать качественные услуги с высоким уровнем сервиса. Мы благодарны нашим клиентам за оказанное доверие и положительные отзывы о совместной работе.
                            a.reviews-descr__btn(href="") Оставить отзыв
                        .reviews-items
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                            .reviews-items__block
                                .reviews-items__header
                                    .reviews-items__title Светлана Небогатикова
                                    .reviews-items__date 04.03.2020
                                .reviews-items__text Спасибо огромное медсестрам, работающим в филиале \"Литех\" в г. Серпухов на ул. Ворошилова!!!! Настоящие знатоки своего дела, очень хорошее отношение к людям, внимательность, спокойствие при заборе анализов, а главное работают без суеты и задержек, слаженно и командно. Весь страх от посещения пропал сам собой))) В конце приема даже предложили чашечку чая))) ограничилась конфеткой))) СПАСИБО ОГРОМНОЕ!!!ПРИДУ ОБЯЗАТЕЛЬНО ЕЩЕ!!!!
                    a.sales__loadmore.button-style.button-style--fill-green.reviews__btn(href="#") Загрузить ещё

                    .pagination
                        a.pagination__arrow.left.disabled(href="#")
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled-icon(src="assets/images/chevron-left-gray.svg", alt="icon")
                        
                        .pagination__items
                            a.pagination__item.active(href="#") 1
                            a.pagination__item(href="#") 2
                            a.pagination__item(href="#") 3
                            a.pagination__item(href="#") 4
                            span.pagination__item ...
                            a.pagination__item(href="#") 7
                        
                        a.pagination__arrow.right(href="#")
                            img(src="assets/images/chevron-right-white.svg", alt="icon")
                            img.disabled-icon(src="assets/images/chevron-left-gray.svg", alt="icon")
                    
                    .reviews-form
                        form(action="#")
                            .reviews-form__title Оставить отзыв
                            .reviews-form-inputs
                                .reviews-form-inputs__item
                                    label(for="reviews-form-input-1") ФИО*
                                    input(type="text", id="reviews-form-input-1", placeholder="Новопашина Анна Дмитриевна")
                                .reviews-form-inputs__item
                                    label(for="reviews-form-input-2") E-mail*
                                    input(type="email", id="reviews-form-input-2", placeholder="test@mail.ru")
                            .reviews-form__textarea
                                label(for="reviews-form-input-3") Сообщение
                                textarea(id="reviews-form-input-3")
                            .reviews-form-footer
                                .reviews-form__btn
                                    input(type="submit", value="Оставить заявку")
                                .reviews-form-accept
                                    label
                                        input(type="checkbox", name="acceptance-reviews", checked)
                                        span.reviews-form-accept__checkbox
                                        span.reviews-form-accept__text Даю согласие на обработку&nbsp;
                                            a(href="/policy", target="_blank") персональных данных