---
title: Литех | Недели любимых
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Акции', 'Недели любимых')

    section.section-sales-content

        .container

            h1.title Недели любимых

            .sales-content__img
                img(src="assets/images/unsplash_c_rnPbSYVFM.jpg", alt="img")

            .sales-content__expire
                .expire-title Акция действует до:
                .expire-date 30 июня

            .sales-content__either
                .either-title В акции участвуют:
                .either-cities Москва, Санкт-Петербург, Воронеж

            .sales-content__text

                p Во взрослой жизни мы продолжаем заботиться о себе и своём партнёре, планируем беременность или просто хотим проверить работу организма в условиях городской среды.
                  br
                  br
                  |В первые две недели февраля действует <b>скидка 14% на анализы</b>, связанные с работой репродуктивных систем у мужчин и женщин.
                  br
                  br
                  |Для получения скидки сообщите администратору <b>промокод ЗАБОТА</b>
                  br
                  br
                  |Уточняйте возможность сдачи отдельных исследований в <a href="#">вашем мед. центре</a>

    section.section-analyzes

        .container

            h2.analyzes__title Анализы учавствующие в акции

            .analyzes

                .analyzes__item.expanded
                    .analyzes__item-title Часто сдаваемые

                    .analyzes__item-wrap

                        .analyzes__block
                            .analyzes__block-code Код № 52
                            .analyzes__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, Differential White Blood  Cell Cell Cell
                            .analyzes__block-time
                                img(src="assets/images/clock.svg", alt="icon")
                                p 1 рабочий день
                            .analyzes__block-home
                                img(src="assets/images/home.svg", alt="icon")
                                p Можно сдать дома
                            .analyzes__block-bottom
                                .analyzes__block-price 100 000 ₽
                                .analyzes__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .analyzes__block
                            .analyzes__block-code Код № 52
                            .analyzes__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, Differential White Blood  Cell Cell Cell
                            .analyzes__block-time
                                img(src="assets/images/clock.svg", alt="icon")
                                p 1 рабочий день
                            .analyzes__block-home
                                img(src="assets/images/home.svg", alt="icon")
                                p Можно сдать дома
                            .analyzes__block-bottom
                                .analyzes__block-price 100 000 ₽
                                .analyzes__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .analyzes__block
                            .analyzes__block-code Код № 52
                            .analyzes__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, Differential White Blood  Cell Cell Cell
                            .analyzes__block-time
                                img(src="assets/images/clock.svg", alt="icon")
                                p 1 рабочий день
                            .analyzes__block-home
                                img(src="assets/images/home.svg", alt="icon")
                                p Можно сдать дома
                            .analyzes__block-bottom
                                .analyzes__block-price 100 000 ₽
                                .analyzes__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .analyzes__block
                            .analyzes__block-code Код № 52
                            .analyzes__block-label Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, Differential White Blood  Cell Cell Cell
                            .analyzes__block-time
                                img(src="assets/images/clock.svg", alt="icon")
                                p 1 рабочий день
                            .analyzes__block-home
                                img(src="assets/images/home.svg", alt="icon")
                                p Можно сдать дома
                            .analyzes__block-bottom
                                .analyzes__block-price 100 000 ₽
                                .analyzes__block-btn.button-style.button-style--fill-orange.add_basket В корзину

                .analyzes__item
                    .analyzes__item-title Общеклинические исследования
                
                .analyzes__item
                    .analyzes__item-title Цитология
                
                .analyzes__item
                    .analyzes__item-title Бактериология

    section.section-terms

        .container

            .terms

                .terms__title Условия акции:

                .terms__content
                
                    ul
                        li Действует с 1 по 14 февраля
                        li Для получения скидки необходимо сообщить перед оплатой промокод «ЗАБОТА»
                        li Не суммируется с другими акциями и спец. предложениями
                        li Организатор оставляет за собой право изменить условия акции без предварительного предупреждения.

    section.section-subscribe

        .container

            .subscribe

                .subscribe-container

                    .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                    .subscribe__wrapper

                        form

                            .subscribe__input
                                input#email(type="email", name="email" placeholder="Ваш e-mail" required)
                                button.button-style.button-style--fill-orange(type="submit") Подписаться

                        .subscribe__agreement
                            img(src="assets/images/check-square.svg", alt="icon")
                            p Даю согласие на обработку персональных данных

                // Успешная подписка
                .subscribe-success.hide
                    .subscribe-success__title Спасибо за подписку!
                    .subscribe-success__text Мы отправили вам письмо для подтверждения почтового ящика