---
title: Литех | Научно популярные статьи
bodyClass: science-articles
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Научно популярные статьи')

    section.section-sales

        .container

            .title Научно популярные статьи
            
            .sales__wrap

                .sales__block

                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/background-with-measles-virus.jpg", alt="img")
                            .sales__item-title Скидка 30% на все анализы новым клиентам
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/ith-measles-virus.jpg", alt="img")
                            .sales__item-title Дополнительная скидка 6%
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/ackgroundth-measles-virus.jpg", alt="img")
                            .sales__item-title Сезонный дефицит витаминов
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/3d-medkground-witsles-virus.jpg", alt="img")
                            .sales__item-title Акция «Витамин D за 1500р.»
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/edical-background-with-meles-virus.jpg", alt="img")
                            .sales__item-title Дисконтная программа лаборатории ЛИТЕХ
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/d-medica-bckground-wih-measles-virus.jpg", alt="img")
                            .sales__item-title Тест на антитела к короновирусу SARS-CoV-2
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/background-with-measles-virus.jpg", alt="img")
                            .sales__item-title Скидка 30% на все анализы новым клиентам
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/ith-measles-virus.jpg", alt="img")
                            .sales__item-title Дополнительная скидка 6%
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/ackgroundth-measles-virus.jpg", alt="img")
                            .sales__item-title Сезонный дефицит витаминов
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/3d-medkground-witsles-virus.jpg", alt="img")
                            .sales__item-title Акция «Витамин D за 1500р.»
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/edical-background-with-meles-virus.jpg", alt="img")
                            .sales__item-title Дисконтная программа лаборатории ЛИТЕХ
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/d-medica-bckground-wih-measles-virus.jpg", alt="img")
                            .sales__item-title Тест на антитела к короновирусу SARS-CoV-2
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/background-with-measles-virus.jpg", alt="img")
                            .sales__item-title Скидка 30% на все анализы новым клиентам
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/ith-measles-virus.jpg", alt="img")
                            .sales__item-title Дополнительная скидка 6%
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/ackgroundth-measles-virus.jpg", alt="img")
                            .sales__item-title Сезонный дефицит витаминов
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/3d-medkground-witsles-virus.jpg", alt="img")
                            .sales__item-title Акция «Витамин D за 1500р.»
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/edical-background-with-meles-virus.jpg", alt="img")
                            .sales__item-title Дисконтная программа лаборатории ЛИТЕХ
                            .sales__item-date 16.03.2023
                    
                    .sales__item
                        a(href="#") 
                            .sales__item-img
                                img(src="assets/images/d-medica-bckground-wih-measles-virus.jpg", alt="img")
                            .sales__item-title Тест на антитела к короновирусу SARS-CoV-2
                            .sales__item-date 16.03.2023

                a.sales__loadmore.button-style.button-style--fill-green(href="#") Загрузить ещё

                .pagination
                    a.pagination__arrow.left.disabled(href="#")
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled-icon(src="assets/images/chevron-left-gray.svg", alt="icon")
                    
                    .pagination__items
                        a.pagination__item.active(href="#") 1
                        a.pagination__item(href="#") 2
                        a.pagination__item(href="#") 3
                        a.pagination__item(href="#") 4
                        span.pagination__item ...
                        a.pagination__item(href="#") 7
                    
                    a.pagination__arrow.right(href="#")
                        img(src="assets/images/chevron-right-white.svg", alt="icon")
                        img.disabled-icon(src="assets/images/chevron-left-gray.svg", alt="icon")

    section.section-subscribe

        .container

            .subscribe

                .subscribe-container

                    .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                    .subscribe__wrapper

                        form

                            .subscribe__input
                                input#email(type="email", name="email" placeholder="Ваш e-mail" required)
                                button.button-style.button-style--fill-orange(type="submit") Подписаться

                        .subscribe__agreement
                            img(src="assets/images/check-square.svg", alt="icon")
                            p Даю согласие на обработку персональных данных

                // Успешная подписка
                .subscribe-success.hide
                    .subscribe-success__title Спасибо за подписку!
                    .subscribe-success__text Мы отправили вам письмо для подтверждения почтового ящика