---
title: Литех | Найдено по результату «анализ»
bodyClass: search-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Поиск')

    section.section-catalog

        .container

            h1.title Найдено по результату «анализ»

            .search
                form
                    .search-input
                        input(type="search" value="анализ" placeholder="Поиск" required)
                        button.button-style.button-style--fill-green(type="submit") Найти

            .catalog

                .catalog__block

                    .catalog__wrap
                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Антитела к антигену SS-A (60 кДа), IgG (Anti-SS-A-60 autoantibodies, IgG)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Антитела к цитоплазматическому антигену Jo-1, IgG (Anti-Jo-1 autoantibodies, IgG)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                        .catalog__item
                            .catalog__item-info
                                .catalog__item-code Код № 52
                                .catalog__item-title Панель антинуклеарных антител при склеродермии(SCLERODERMA ANTIBODIES PANEL) (Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52)
                                .catalog__item-bottom
                                    .catalog__item-time
                                        img(src="assets/images/clock.svg", alt="icon")
                                        p 1 рабочий день
                                    .catalog__item-home
                                        img(src="assets/images/home.svg", alt="icon")
                                        p Можно сдать дома
                            .catalog__item-buy
                                .catalog__item-price 100 000 ₽
                                .catalog__item-btn.button-style.button-style--fill-orange.add_basket В корзину

                .catalog__support
                    .catalog__support-title Трудности в поиске анализа?
                    .catalog__support-text Свяжитесь с нами удобным для вас способом:
                    .catalog__support-actions
                        .catalog__support-actions-chat.button-style.button-style--fill-green Напишите нам в чат
                        .catalog__support-actions-callback.button-style.button-style--fill-green Закажите звонок
                        .catalog__support-actions-phone
                            img(src="assets/images/phone.svg", alt="icon")
                            a(href="tel:+7 (495) 260-11-26") +7 (495) 260-11-26

    section.section-subscribe

        .container

            .subscribe

                .subscribe-container

                    .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                    .subscribe__wrapper

                        form

                            .subscribe__input
                                input#email(type="email", name="email" placeholder="Ваш e-mail" required)
                                button.button-style.button-style--fill-orange(type="submit") Подписаться

                        .subscribe__agreement
                            img(src="assets/images/check-square.svg", alt="icon")
                            p Даю согласие на обработку персональных данных

                // Успешная подписка
                .subscribe-success.hide
                    .subscribe-success__title Спасибо за подписку!
                    .subscribe-success__text Мы отправили вам письмо для подтверждения почтового ящика