---
title: Литех | 404
bodyClass: sidebar-text-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Текстовая страница с меню боковым')
    
    section.sidebar-page 
        .container 
            .sidebar-page-wrapper 

                .sidebar-page__nav 
                    ul.sidebar-page__list
                        li.active
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 
                        li
                            a(href="") Lorem ipsum dolor 

                .sidebar-page__content 
                    h1.title Заголовок h1
                    p Подзаголовок orem ipsum dolor sit amet consectetur. Purus nibh integer maecenas tellus aliquam nunc. Morbi sed nunc eget rhoncus cursus at adipiscing. Dignissim nunc sit amet neque. Amet malesuada feugiat at ultrices posuere.
                    h2 Заголовок h2
                    p <a>Ссылка</a> dolor sit amet consectetur. Purus nibh integer maecenas tellus aliquam nunc. Morbi sed nunc eget rhoncus cursus at adipiscing. Dignissim nunc sit amet neque. Amet malesuada feugiat at ultrices posuere.
                    p Lorem ipsum dolor sit amet consectetur. Purus nibh integer maecenas tellus aliquam nunc. Morbi sed nunc eget rhoncus cursus at adipiscing. Dignissim nunc sit amet neque. Amet malesuada feugiat at ultrices posuere.

                    .table-container
                        .table
                            .table-head
                                p Сокращение
                                p Описание
                                p Функции
                            .table-body
                                .table-row
                                    p gp41 (TM, transmembrane)
                                    p Трансмембранный гликопротеин массой 41 кДа
                                    p Располагается во внешнем слое липидной мембраны, играет роль «якоря», удерживающего молекулы белка gp120
                                .table-row
                                    p gp120 (SU, surface)
                                    p Гликопротеин массой 120 кДа
                                    p Наружный белок вириона. Нековалентно связан с трансмембранным белком gp41. С одной молекулой gp41 связаны 3—5 молекул gp120. Способен связывать рецептор CD4. Играет важную роль в процессе проникновения вируса в клетку.
                                .table-row
                                    p p24 (CA, capsid)
                                    p Белок массой 24 кДа
                                    p Образует капсид вируса
                                .table-row
                                    p p7 (NC, nucleocapsid)
                                    p Нуклеокапсидный белок массой 7 кДа
                                    p Входит в состав капсида вируса. Образует комплекс с вирусной РНК.

                    h3 Литература
                    ol
                        li Алан Г. Б. Клиническое руководство Тица по лабораторным тестам //М.: Лабора. – 2013. – Т. 1280.
                        li Долгов В. В., Меньшиков В. В. Клиническая лабораторная диагностика. Национальное руководство //М.: ГЭОТАР-Медиа. – 2016. – С. 688.
                        li <span>Материалы фирмы-производителя реагентов.</span>

                
                    h3 Другие названия этого исследования
                    p Activated partial thromboplastin time (APTT),Antithrombin III,Coagulation test,Coagulogram of blood,Coagulopathy,D-dimer,Determination of thrombin time in diagnosis of dysfibrinogenemia or hypofibrinogenemia,Fibrin degradation fragment,Fibrinogen (FG, Factor I),Fragment D-dimer,Hemostasiogram,International normalized ratio,International normalized ratio (INR),Prothrombin,Prothrombin time (PT),Prothrombin time ratio,Сoagulogram
                   
                    h4 Названия на русском языке
                    p активированное частичное тромбопластиновое время (АЧТВ),антитромбин III,коагулограмма скрининг,маркер тромбообразования и фибринолизиса,международное нормализованное отношение (МНО),плазминоген,протромбиновое время (ПТВ),протромбиновый индекс (ПТИ),система гемостаза,тромбиновое время,фактор I (первый) свёртывающей системы плазмы,фибриноген,фрагмент расщепления фибрина

    section.section-subscribe

        .container

            .subscribe

                .subscribe-container

                    .subscribe__title.title Подпишитесь на&nbsp;нашу&nbsp;рассылку

                    .subscribe__wrapper

                        form

                            .subscribe__input
                                input#email(type="email", name="email" placeholder="Ваш e-mail" required)
                                button.button-style.button-style--fill-orange(type="submit") Подписаться

                        .subscribe__agreement
                            img(src="assets/images/check-square.svg", alt="icon")
                            p Даю согласие на обработку персональных данных

                // Успешная подписка
                .subscribe-success.hide
                    .subscribe-success__title Спасибо за подписку!
                    .subscribe-success__text Мы отправили вам письмо для подтверждения почтового ящика